<app-img-navbar-other></app-img-navbar-other>
<div class="main-container">
    <div class="left-container">
        <h2>Chrapanie – uciążliwy problem nie tylko dla chorego</h2>
    </div>
    <div class="center-container">
        <img class="img" src="../../assets/istock-1073668256_9319.jpg.webp">
    </div>
    <div class="right-container">
        <p class="text">
            Drętwienie rąk to nieprzyjemne uczucie, którego każdy doświadczył. W większości przypadków przechodzi
            samoczynnie, po kilku minutach, jednak jeśli utrzymuje się permanentnie lub często wraca, warto skonsultować
            się z lekarzem.
        </p>
        <h2 class="main-title">
            Drętwienie rąk – objawy
        </h2>
        <p class="text">
            Drętwienie rąk objawia się sztywnieniem kończyny oraz zanikiem czucia w palcach i dłoni. Bodźce zewnętrzne
            działające na zdrętwiałą dłoń nie są przez nią prawidłowo odbierane, przez co pacjent odnosi wrażenie, jakby
            ręka nie była jego.
        </p>
        <p class="text">
            Drętwienie może też objawiać się mrowieniem w ręce oraz wewnętrznym kłuciem. Nierzadko motoryka dłoni jest
            wtedy ograniczona i pacjent ma trudności z poruszaniem palcami.
        </p>
        <h2 class="main-title-2">
            Przyczyny drętwienia rąk
        </h2>
        <p class="text">
            Drętwienie rąk jest skutkiem zaburzenia unaczynienia lub unerwienia kończyny. Może być wywołane
            mechanicznie, poprzez działanie z zewnątrz, niedobór witamin i minerałów lub stanowić objaw choroby. W
            ostatnim przypadku nierzadko chodzi o groźną chorobę, co powinno skłonić pacjenta do niezwłocznej
            konsultacji z lekarzem neurologiem.
        </p>
        <h2 class="main-title-3">
            Drętwienia rąk w nocy
        </h2>
        <p class="text">
            Drętwienie ręki w nocy z reguły wynika z pozycji snu ‒ pojawia się, gdy ręka jest przyciśnięta masą ciała.
            Powoduje to zmniejszenie dopływu krwi i drętwienie kończyny. Podobne sytuacje zdarzają się też w ciągu dnia,
            gdy ręka znajduje się w niewygodnej lub nienaturalnie pozycji, albo jest czymś skrępowana lub ściśnięta.
        </p>
        <p class="text">
            Każdy człowiek tego doświadczył, np. gdy trzymał rękę w górze przez dłuższy czas lub niósł siatkę wypełnioną
            zakupami. Drętwienie palców wywołane w ten sposób jest niegroźne i mija po kilku minutach od zmiany pozycji
            lub usunięcia ucisku.
        </p>
        <h2 class="main-title-4">
            Drętwienie rąk z niedoborów diety
        </h2>
        <p class="text">
            Niedobór mikroskładników wpływających na prawidłowe funkcjonowanie układu nerwowo-mięśniowego może powodować
            drętwienie i mrowienie rąk. Warto wtedy uzupełnić niedobór:
        </p>
        <div class="text-c">
            <p class="grid">- witamin z grupy B</p>
            <p class="grid">- potasu</p>
            <p class="grid">- magnezu</p>
            <p class="grid">- wapnia</p>
        </div>
        <h2 class="main-title-5">
            Drętwienie rąk wywołane chorobami
        </h2>
        <p class="text">
            Częste lub trwałe drętwienie rąk oraz nóg to pierwszy objaw neuropatii, czyli uszkodzenia nerwów obwodowych.
            W większości przypadków są one powikłaniem przebytych wcześniej infekcji. Schorzenie to wymaga kontroli
            lekarskiej.
        </p>
        <p class="text">
            Drętwienie palców, głównie wskazującego i kciuka oraz osłabiony chwyt w dłoni wskazują na zespół cieśni
            nadgarstka. W tej sytuacji pomoże jedynie zabieg chirurgiczny.
        </p>
        <p class="text">
            Drętwienie rąk towarzyszące przewlekłemu zmęczeniu, zawrotom głowy i skurczom mięśni oznacza stwardnienie
            rozsiane. Choroba ta jest nieuleczalna i postępująca.
        </p>
        <p class="text">
            Problemy z kręgosłupem także wywołują drętwienie kończyn. Natomiast drętwienie lewej ręki powiązane z bólem
            w klatce piersiowej, to objaw zawału serca.
        </p>
        <p class="text">
            Mrowienie dłoni powiązane z drętwieniem twarzy zwiastuje udar mózgu lub wylew. W obu przypadkach konieczna
            jest natychmiastowa pomoc medyczna, gdyż jest to stan bezpośredniego zagrożenia życia i każda minuta jest na
            wagę złota.
        </p>
    </div>
</div>