<div class="main_container">
    <div class="container-left">
        <div class="main_title">
            <h2 class="title">Częste krwawienia z nosa – gdzie szukać pomocy?</h2>
        </div>
        <div class="text_2">
            <h2>Błona śluzowa we wnętrzu nosa jest mocno unaczyniona. W przypadku uszkodzenia obficie krwawi. Krwotok
                wywołany mechanicznym urazem jest łatwy do zatamowania i z reguły nie wymaga interwencji lekarza. Zdarza
                się jednak, że krwawienie z nosa następuje samoczynnie, bez ingerencji z zewnątrz. Jest to powodem do
                obaw i może wymagać konsultacji ze specjalistą. Może to być […]</h2>
        </div>
    </div>
    <div class="container-right">
        <img class="img" src="../../assets/AdobeStock_119605372_Easy-Resize.com(1).jpg">
    </div>
</div>
<div class="button">
    <button class="button_border" routerLink="/czeste-krwawienia-z-nosa-gdzie-szukac-pomocy">Czytajwięcej</button>
</div>