<app-img-navbar-other></app-img-navbar-other>
<div class="main-container">
    <div class="left-container">
        <h2>Chrapanie – uciążliwy problem nie tylko dla chorego</h2>
    </div>
    <div class="center-container">
        <img class="img" src="../../assets/AdobeStock_119605372_Easy-Resize.com(1).jpg">
    </div>
    <div class="right-container">
        <h2>Szacuje się, że problem chrapania dotyczy aż 10% wszystkich ludzi. Choć bywa ono uciążliwe, często jest
            ignorowane jako coś nieprzyjemnego, lecz mało istotnego dla naszego zdrowia. Okazuje się jednak, że
            chrapanie może nieść za sobą poważniejsze konsekwencje, niż mogłoby się wydawać.
            Dlatego osoba, która stale zmaga się z tą dolegliwością, powinna koniecznie udać się do lekarza. Pomoże on
            rozpoznać przyczynę i podejmie decyzje dotyczące ewentualnego leczenia.
            Czym właściwie jest chrapanie?
            Chrapanie to przede wszystkim informacja, że u osoby śpiącej pojawił się problem ze spokojnym przepływem
            powietrza przez drogi oddechowe. Podczas snu mięśniówka gardła wiotczeje. Dlatego też, w momencie wdechu,
            języczek oraz podniebienie miękkie wpadają w drgania. Dźwięk, który się przy tym wydobywa, to właśnie odgłos
            znany nam jako chrapanie.
            Chrapanie ‒ jakie przyczyny może mieć ten uciążliwy problem?
            Jeżeli zjawisko chrapania pojawia się sporadycznie, może być wywołane np. niedrożnością dróg oddechowych
            spowodowaną przeziębieniem. Musimy uzbroić się w cierpliwość, a problem zniknie razem z chorobą. Jeśli
            jednak chrapanie towarzyszy nam każdej nocy, jego przyczyna może tkwić w poważniejszych nieprawidłowościach.
            Szukając winnego, przede wszystkim trzeba sprawdzić budowę układu oddechowego. Krzywa przegroda nosowa,
            przerośnięty języczek czy powiększone migdały, to defekty, które należy leczyć. Powodem chrapania może
            okazać się także astma lub przewlekłe zapalenie zatok. Bez względu jednak na źródło problemu, im szybciej
            rozpoczniemy odpowiednie leczenie, tym lepiej dla naszego zdrowia.
            Problem chrapania uciążliwy dla bliskich chorego
            Chrapanie niewątpliwie ma duży wpływ na jakość życia osoby chorej. Ciągłe niewyspanie się czy chroniczne
            zmęczenie, będące następstwem niedotlenienia, powodują kłopoty z koncentracją i utrudniają normalne
            funkcjonowanie. Jednak problem dotyczy także osób, które przebywają w towarzystwie chorego.
            Ciężko wyspać się w warunkach, kiedy osoba leżąca obok wydaje z siebie przez całą noc głośne dźwięki. Taka
            sytuacja na dłuższą metę może spowodować obopólne rozdrażnienie, a w konsekwencji będzie przyczyną
            konfliktów.
            Chrapanie ‒ jak pozbyć się tego uciążliwego problemu?
            Aby rozwiązać problem chrapania, konieczna jest dokładna diagnostyka. Jeżeli specjalista stwierdzi, że
            przyczyną są wady anatomiczne dróg oddechowych, konieczny może okazać się zabieg chirurgiczny. Często jednak
            skutecznie wyeliminujemy problem, zmieniając pewne nawyki.
            Rezygnacja z alkoholu czy palenia papierosów, zmiana pozycji spania oraz zastosowanie delikatnych środków
            ułatwiających oddychanie, może okazać się wystarczające. Niezależnie od przyczyny, na pewno nie powinniśmy
            ignorować problemu chrapania, zarówno dla własnego zdrowia, jak i dla komfortu bliskich.</h2>
    </div>
</div>