.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #01a3a4;
  height: 80px;
}

.e_mail {
  font-size: 18px;
  color: white;
}

.tel {
  font-size: 18px;
  color: white;
  margin-left: 30px;
  margin-right: 30px;
}

.ul {
  font-size: 18px;
  color: white;
  margin-right: 30px;
}
