<app-header-admin></app-header-admin>
<div class="main-box">
    <form>
        <div class="title-box">
            <h2 class="add-doctor">Dodawanie Lekarza</h2>
        </div>
        <div class="group-box">
            <div class="form-group">
                <label class="name">Imię</label>
                <input class="border">
            </div>
            <div class="form-group">
                <label class="name">Nazwisko</label>
                <input class="border">
            </div>
            <div class="form-group">
                <label class="name">Kategoria</label>
                <input class="border" placeholder="Lekarz / Specialista">
            </div>
            <div class="form-group">
                <label class="name">Specjalizacja</label>
                <input class="border">
            </div>
            <div class="border-but">
                <button class="button-border">Dodaj</button>
            </div>
        </div>
    </form>
</div>
<div class="main-column">
    <div class="main-box">
        <button (click)="getDoctors()">Pobierz lekarzy</button>
        <div *ngIf="doctors.length > 0">
            <div class="">
                <h2>Lista lekarzy:</h2>
                <ul>
                    <li *ngFor="let doctor of doctors" class="red-text">{{ doctor.imie }} {{ doctor.nazwisko }}
                        {{doctor.kategoria}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>