.title-box {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  // background-color: #bbeefc;
  // height: 80px;
  // border-radius: 50px;
  // box-shadow: 0px 18px 18px rgba(0, 0, 0, 0.25);
}

.add-doctor {
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 350px;
  background-color: #01a3a4;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-group {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.name {
  font-size: 18px;
  margin-bottom: 5px;
  font-family: sans-serif;
}

.border {
  border: 1px #bbeefc solid;
  border-radius: 10px;
  height: 30px;
  width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.group-box {
  background-color: #bbeefc;
  width: 450px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 0px 18px 18px rgba(0, 0, 0, 0.25);
}

.main-box {
  display: flex;
  justify-content: center;
}

.border-but {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-border {
  border: 0px;
  border-radius: 10px;
  font-size: 20px;
  width: 150px;
  height: 50px;
  color: white;
  font-size: 18px;
  font-family: sans-serif;
  background-color: #3a5470;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: transform 0.2s;

  &:active {
    transform: scale(0.95);
  }
}

//////////////////////////////////////////////////////////
.bar {
  width: 100%;
  height: 30px;
  background-color: #22a6b3;
  margin-top: 30px;
}
//////////////////////////////////////////////////////////

.title-column {
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 400px;
  background-color: #01a3a4;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title-column-border {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.main-box-list {
  display: grid;
}

.main-column {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.doctor-button-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #3a5470;
  background-color: #3a5470;
  margin-bottom: 30px;
  transition: transform 0.2s;

  &:active {
    transform: scale(0.95);
  }
}

.title-doctor-button-list {
  color: white;
  font-size: 20px;
}

.doctor-list {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 20px;
}

.list {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 10px;
}

.main-doctor-list {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bbeefc;
  width: 800px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0px 18px 18px rgba(0, 0, 0, 0.25);
  margin-bottom: 60px;
}

.firstname,
.lastname,
.category,
.specialization {
  // display: flex;
  // align-items: center;
  margin-right: 20px;
  font-size: 18px;
}

.main-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.q {
  display: grid;
}

.docotr-delate,
.doctor-edit {
  background-color: #3a5470;
  color: white;
  border-radius: 10px;
  border: 1px solid #3a5470;
  font-size: 16px;
  transition: transform 0.2s;

  &:active {
    transform: scale(0.95);
  }
}
