<app-header-admin></app-header-admin>
<div class="main-box">
    <form>
        <div class="title-box">
            <h2 class="add-doctor">Dodawanie Lekarza</h2>
        </div>
        <div class="group-box">
            <div class="form-group">
                <label class="name">Imię</label>
                <input class="border" name="firstname" [(ngModel)]="firstname">
            </div>
            <div class="form-group">
                <label class="name">Nazwisko</label>
                <input class="border" name="lastname" [(ngModel)]="lastname">
            </div>
            <!-- <div class="form-group">
                <label class="name">Kategoria</label>
                <input class="border" name="category" [(ngModel)]="category" placeholder="Lekarz / Specialista">
            </div> -->
            <div class="form-group">
                <label class="name">Kategoria</label>
                <select class="border" name="category" [(ngModel)]="category">
                    <option value="Lekarz">Lekarz</option>
                    <option value="Specialista">Specialista</option>
                </select>
            </div>
            <div class="form-group">
                <label class="name">Specjalizacja</label>
                <input class="border" name="specialization" [(ngModel)]="specialization">
            </div>
            <div class="border-but">
                <button class="button-border" (click)="addDoctor()">Dodaj</button>
            </div>
        </div>
    </form>
</div>
<div class="main-column">
    <div class="main-box-list">
        <button class="doctor-button-list" (click)="getDoctors()">Wyświetl liste lekarzy</button>
        <div class="main-doctor-lisst" *ngIf="doctors.length > 0">
            <div class="">
                <h2 class="doctor-list">Lista lekarzy:</h2>
                <ul>
                    <li *ngFor="let doctor of doctors" class="list">
                        <span class="">{{doctor.imie}}</span>
                        <span class="">{{doctor.nazwisko}}</span>
                        <span class="">{{doctor.kategoria}}</span>
                        <span class="">{{doctor.specializacja}}</span>
                        <button (click)="deleteDoctor(doctor._id)">Usuń</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>