<app-header-admin></app-header-admin>
<div class="main-box">
    <form>
        <div class="title-box">
            <h2 class="add-doctor">Dodawanie Lekarza</h2>
        </div>
        <div class="group-box">
            <div class="form-group">
                <label class="name">Imię</label>
                <input class="border">
            </div>
            <div class="form-group">
                <label class="name">Nazwisko</label>
                <input class="border">
            </div>
            <div class="form-group">
                <label class="name">Kategoria</label>
                <input class="border" placeholder="Lekarz / Specialista">
            </div>
            <div class="form-group">
                <label class="name">Specjalizacja</label>
                <input class="border">
            </div>
            <div class="border-but">
                <button class="button-border">Dodaj</button>
            </div>
        </div>
        <!-- <div class="border-but">
            <button class="button-border">Dodaj</button>
        </div> -->
    </form>
</div>