<div class="header">
    <div class="container-left">
        <img class="logo" src="../../assets/343958848_562057416008897_96267590959828_n.png">
        <div class="main_name">
            <h1>Med-Life</h1>
        </div>
    </div>
    <div class="container-right">
        <h2 class="zu">Zakres usług</h2>
        <h2 class="ce">Cennik</h2>
        <h2 class="nz">Nasz zespół</h2>
        <h2 class="k">Kontakt</h2>
        <div class="border">
            <h2 class="uw">Umów wizytę</h2>
        </div>
        <!-- <div class="nav_bar">
                <h2>Zakres usług</h2>
                <h2>Cennik</h2>
                <h2>Nasz zespół</h2>
                <h2>Kontakt</h2>
                <div class="border">
                    <h2>Umów wizytę</h2>
                </div>
            </div> -->
    </div>
    <!-- <div class="nav_bar">
            <h2 class="zu">Zakres Usług</h2>
        </div> -->
</div>