<div class="main_container">
    <div class="container-left">
        <div class="main_title">
            <h2 class="title">Drętwienia rąk – jakie mogą być przyczyny?</h2>
        </div>
        <div class="text_2">
            <h2>Drętwienie rąk to nieprzyjemne uczucie, którego każdy doświadczył. W większości przypadków przechodzi
                samoczynnie, po kilku minutach, jednak jeśli utrzymuje się permanentnie lub często wraca, warto
                skonsultować się z lekarzem. Drętwienie rąk – objawy Drętwienie rąk objawia się sztywnieniem kończyny
                oraz zanikiem czucia w palcach i dłoni. Bodźce zewnętrzne działające na zdrętwiałą dłoń nie są przez […]
            </h2>
        </div>
    </div>
    <div class="container-right">
        <img class="img" src="../../assets/istock-1073668256_9319.jpg.webp">
    </div>
</div>
<div class="button">
    <button class="button_border" routerLink="/dretwienia-rak–jakie-moga-byc-przyczyny">Czytaj
        więcej</button>
</div>