<div class="main_container">
    <div class="container-left">
        <div class="main_title">
            <h2 class="title">Chrapanie – uciążliwy problem nie tylko dla chorego</h2>
        </div>
        <div class="text_2">
            <h2>Szacuje się, że problem chrapania dotyczy aż 10% wszystkich ludzi. Choć bywa ono uciążliwe, często jest
                ignorowane jako coś nieprzyjemnego, lecz mało istotnego dla naszego zdrowia. Okazuje się jednak, że
                chrapanie może nieść za sobą poważniejsze konsekwencje, niż mogłoby się wydawać. Dlatego osoba, która
                stale zmaga się z tą dolegliwością, powinna koniecznie udać się do […]</h2>
        </div>
        <div class="button">
            <h2 class="button_border">Czytaj więcej</h2>
        </div>
    </div>
    <div class="container-right">
        <img class="img" src="../../assets/AdobeStock_119605372_Easy-Resize.com(1).jpg">
    </div>
</div>