.ms {
  display: flex;
  justify-content: center;
  background-color: #01a3a4;
}

.ms_outer {
  width: 100%;
  max-width: 1980px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #01a3a4;
  height: 55px;

  @media (max-width: 819px) {
  }

  @media (max-width: 743px) {
  }

  @media (max-width: 426px) {
    justify-content: flex-end;
    align-items: flex-end;
    display: grid;
    text-align: right;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    height: auto;
  }
}

.bold-text {
  font-weight: bold;
  padding-right: 5px;
}

.e_mail {
}

.tel {
  margin-left: 0;
  margin-right: 10px;

  @media (max-width: 426px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.ul {
  margin-right: 20px;

  @media (max-width: 426px) {
    margin-right: 0px;
  }
}

.em {
  @media (max-width: 9999px) {
    margin-right: 20px;
  }

  @media (max-width: 767px) {
    margin-right: 0px;
  }
}

.em,
.tel,
.ul {
  font-size: 18px;
  color: white;
  font-family: sans-serif;
  font-weight: 300;
  word-spacing: 0px;

  @media (max-width: 819px) {
    font-size: 16px;
  }

  @media (max-width: 426px) {
    font-size: 15px;
  }

  @media (max-width: 376px) {
    font-size: 15px;
  }

  @media (max-width: 321px) {
    font-size: 14px;
  }
}
