<div class="ms">
    <div class="ms_outer">
        <div class="ms_inner">
            <div class="header">
                <a class="tel">
                    <span class="bold-text">Telefon:</span>
                    <span class="normal-text">123 123 123</span>
                </a>
                <a class="ul">
                    <span class="bold-text">Ul.</span>
                    <span class="normal-text">Krasnoludek 3, xx-xxx Kraków</span>
                </a>
                <a class="em">
                    <span class="bold-text">E-mail:</span>
                    <span class="normal-text">recepcja.medlife@gmail.com</span>
                </a>
                <!-- <a class="tel">Telefon: 123 123 123</a> -->
                <!-- <a class="ul">Ul. Krasnoludek 3, xx-xxx Kraków</a> -->
                <!-- <a class="em">E-mail: recepcja.medlife@gmail.com</a> -->
            </div>
        </div>
    </div>
</div>