.form-group {
  margin-bottom: 10px;
}

.tst {
  display: flex;
}

.time-border {
  justify-content: space-between;
}

.day {
  margin-right: 50px;
}

// .main-container-scheme {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-top: 50px;
// }

// .main-title-scheme {
//   font-size: 30px;
//   margin-bottom: 20px;
// }

// .main-column {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-top: 100px;
// }

// .main-list {
// }

// list {
// }

// .qq {
//   margin-top: 10px;
// }

// .q {
//   margin-top: 150px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .b {
//   font-size: 20px;
//   margin-bottom: 25px;
// }

// .form-group {
//   display: block;
// }

// .scheme-form {
//   display: block;
//   margin-top: 100px;
// }
