<app-header-admin></app-header-admin>
<div class="">
    <div class="">
        <div class="list">
            <div class="form-group">
                <div class="tst">
                    <label class="day">Poniedziłek</label>
                    <div class="">
                        <label>Pracuje od</label>
                        <input type="time">
                    </div>
                    <div class="">
                        <label>Pracuje do</label>
                        <input type="time">
                    </div>
                </div>
            </div>
            <div class="">
                <label>Wtorek</label>
            </div>
            <div class="">
                <label>Środa</label>
            </div>
            <div class="">
                <label>Czwartek</label>
            </div>
            <div class="">
                <label>Piątek</label>
            </div>
            <div class="">
                <label>Sobota</label>
            </div>
        </div>
    </div>
</div>

<form (ngSubmit)="onSubmit()">
    <label for="selectedTime">Wybierz godzinę:</label>
    <select id="selectedTime" name="selectedTime" [(ngModel)]="selectedTime" required>
        <option *ngFor="let timeSlot of timeSlots" [value]="timeSlot">{{ timeSlot }}</option>
    </select>
    <button type="submit">Zapisz</button>
</form>
<!-- <div class="main-column">
    <div class="main-box-list">
        <div class="main-doctor-list" *ngIf="doctors.length > 0">
            <div class="main-list">
                <div class="dbl-border">
                    <button class="doctor-button-list" (click)="getDoctors()">
                        <p class="title-doctor-button-list">Odśwież listę</p>
                    </button>
                </div>
                <ul class="qq">
                    <li *ngFor="let doctor of doctors" class="list">
                        <span class="firstname">
                            Imię: {{ doctor.imie }}
                        </span>
                        <span class="lastname">
                            Nazwisko: {{ doctor.nazwisko }}
                        </span>
                        <span class="category">
                            Kategoria: {{ doctor.kategoria }}
                        </span>
                        <span class="specialization">
                            Specializacja: {{ doctor.specializacja }}
                        </span>
                        <span class="">
                            <button *ngIf="!doctor.showMore" (click)="onShowMore(doctor)">Dodaj plan</button>
                            <button class="clickme" *ngIf="doctor.showMore" (click)="onShowLess(doctor)">&uarr;</button>
                        </span>
                        <div class="" *ngIf="doctor.showMore">
                            <div class="border-title">
                                <h2 class="main-title-scheme">Dodawanie harmonogramu pracy</h2>
                                <div class="form-group">
                                    <label for="scheduleName">Nazwa harmonogramu:</label>
                                    <input type="text" id="scheduleName" [(ngModel)]="selectedScheduleName">
                                </div>
                                <label>Dni pracy:</label>
                                <div class="form-group" *ngFor="let day of days">
                                    <label>
                                        <input type="checkbox" [(ngModel)]="selectedDays[day]"> {{ day }}
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="startTime">Godzina rozpoczęcia:</label>
                                    <input type="time" id="startTime" [(ngModel)]="selectedStartTime">
                                </div>
                                <div class="form-group">
                                    <label for="endTime">Godzina zakończenia:</label>
                                    <input type="time" id="endTime" [(ngModel)]="selectedEndTime">
                                </div>
                                <div class="form-group">
                                    <label for="interval">Odstęp czasowy (w minutach):</label>
                                    <input type="number" id="interval" [(ngModel)]="selectedInterval" min="1">
                                </div>
                                <div class="form-group">
                                    <button (click)="generateHours()">Generuj</button>
                                </div>
                                <div class="form-group" *ngIf="generatedHours.length > 0">
                                    <p>Wybrane godziny:</p>
                                    <div *ngFor="let hour of generatedHours">
                                        <label>
                                            <input type="checkbox" [(ngModel)]="selectedHours[hour]"> {{ hour }}
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button (click)="(!isEmptyFields()) && (updateDoctor())">Dodaj harmonogram</button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="main-container-scheme">
    <div class="first-container">
        <div class="border-title">
            <h2 class="main-title-scheme">Dodawanie harmonogramu pracy</h2>
        </div>
        <div class="form-group">
            <label for="scheduleName">Nazwa harmonogramu:</label>
            <input type="text" id="scheduleName" [(ngModel)]="selectedScheduleName">
        </div>
        <label>Dni pracy:</label>
        <div class="form-group" *ngFor="let day of days">
            <label>
                <input type="checkbox" [(ngModel)]="selectedDays[day]"> {{ day }}
            </label>
        </div>
        <div class="form-group">
            <label for="startTime">Godzina rozpoczęcia:</label>
            <input type="time" id="startTime" [(ngModel)]="selectedStartTime">
        </div>
        <div class="form-group">
            <label for="endTime">Godzina zakończenia:</label>
            <input type="time" id="endTime" [(ngModel)]="selectedEndTime">
        </div>
        <div class="form-group">
            <label for="interval">Odstęp czasowy (w minutach):</label>
            <input type="number" id="interval" [(ngModel)]="selectedInterval" min="1">
        </div>
        <div class="form-group">
            <button (click)="generateHours()">Generuj</button>
        </div>
        <div class="form-group" *ngIf="generatedHours.length > 0">
            <p>Wybrane godziny:</p>
            <div *ngFor="let hour of generatedHours">
                <label>
                    <input type="checkbox" [(ngModel)]="selectedHours[hour]"> {{ hour }}
                </label>
            </div>
        </div>
        <div class="form-group">
            <button (click)="(!isEmptyFields()) && (addScheme())">Dodaj harmonogram</button>
        </div>
        <div *ngIf=" schedules.length> 0">
            <p>Harmonogramy:</p>
            <div *ngFor="let schedule of schedules">
                <p>{{ schedule.name }} - Dni: {{ schedule.days.join(', ') }} - Godziny: {{
                    schedule.hours.join(', ') }}</p>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="">
    <div class="">
        <h2>Lista haromogramow</h2>
    </div>
    <div class="" *ngIf="visits.length >0">
        <button (click)="getSchemes()">zaladuj</button>
    </div>
    <ul>
        <li *ngFor="let visits of visits">
            <span>
                {{visits.nazwa}}
            </span>
            <span *ngFor="let day of visits.dnitygodnia | keyvalue">
                {{ day.key }}
            </span>
            <span *ngFor="let hour of visits.wybranegodziny | keyvalue">
                {{ hour.key }}
            </span>
            <button class="" (click)="editScheme(schemes)">Edytuj</button>
            <button class="" (click)="deleteScheme(visits._id)">Usuń</button>
        </li>
    </ul>
</div> -->

<!-- <ul *ngIf="visits.length > 0">
    <li *ngFor="let visits of visits">
        <span>{{visits.nazwa}}</span>
        <div>
            <button class="" (click)="editVisit(visits)">Edytuj</button>
            <button class="" (click)="confirmDelete(visits._id)">Usuń</button>
        </div>
    </li>
</ul> -->

<!-- <div class="main-column">
    <div class="main-box-list">
        <div class="main-doctor-list" *ngIf="doctors.length > 0">
            <div class="main-list">
                <div class="dbl-border">
                    <button class="doctor-button-list" (click)="getDoctors()">
                        <p class="title-doctor-button-list">Odśwież listę</p>
                    </button>
                </div>
                <ul class="qq">
                    <li *ngFor="let doctor of doctors" class="list">
                        <span class="firstname">
                            Imię:
                            {{doctor.imie}}
                        </span>
                        <span class="lastname">
                            Nazwisko:
                            {{doctor.nazwisko}}
                        </span>
                        <span class="category">
                            Kategoria:
                            {{doctor.kategoria}}
                        </span>
                        <span class="specialization">
                            Specializacja:
                            {{doctor.specializacja}}
                        </span> -->
<!-- <div>
                            <label>harmonogram</label>
                            <select>
                                <option *ngFor="let visits of visits" [value]="visits">{{name}}</option>
                            </select>
                        </div> -->
<!-- <span class="">
                            <button *ngIf="!doctor.showMore" (click)="onShowMore(doctor)">Dodaj plan</button>
                            <button class="clickme" *ngIf="doctor.showMore" (click)="onShowLess(doctor)">&uarr;</button>
                        </span>
                        <div class="" *ngIf="doctor.showMore">
                            <div class="border-title">
                                <h2 class="main-title-scheme">Dodawanie harmonogramu pracy</h2>
                                <div>
                                    <label for="scheduleName">Nazwa harmonogramu:</label>
                                    <input type="text" id="scheduleName" [(ngModel)]="selectedScheduleName">
                                </div>
                                <div *ngFor="let day of days">
                                    <label>
                                        <input type="checkbox" [(ngModel)]="selectedDays[day]"> {{ day }}
                                    </label>
                                </div>
                                <div>
                                    <label for="startTime">Godzina rozpoczęcia:</label>
                                    <input type="time" id="startTime" [(ngModel)]="selectedStartTime">
                                </div>
                                <div>
                                    <label for="endTime">Godzina zakończenia:</label>
                                    <input type="time" id="endTime" [(ngModel)]="selectedEndTime">
                                </div>
                                <div>
                                    <label for="interval">Odstęp czasowy (w minutach):</label>
                                    <input type="number" id="interval" [(ngModel)]="selectedInterval" min="1">
                                </div>
                                <button (click)="generateHours()">Generuj</button>
                                <div *ngIf="generatedHours.length > 0">
                                    <p>Wybrane godziny:</p>
                                    <div *ngFor="let hour of generatedHours">
                                        <label>
                                            <input type="checkbox" [(ngModel)]="selectedHours[hour]"> {{ hour }}
                                        </label>
                                    </div>
                                </div>
                                <button (click)="(editDoctor(doctor))">Dodaj
                                    harmonogram1</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="">
    <div>
        <label for="scheduleName">Nazwa harmonogramu:</label>
        <input type="text" id="scheduleName" [(ngModel)]="selectedScheduleName">
    </div>
    <div *ngFor="let day of days">
        <label>
            <input type="checkbox" [(ngModel)]="selectedDays[day]"> {{ day }}
        </label>
    </div>
    <div>
        <label for="startTime">Godzina rozpoczęcia:</label>
        <input type="time" id="startTime" [(ngModel)]="selectedStartTime">
    </div>
    <div>
        <label for="endTime">Godzina zakończenia:</label>
        <input type="time" id="endTime" [(ngModel)]="selectedEndTime">
    </div>
    <div>
        <label for="interval">Odstęp czasowy (w minutach):</label>
        <input type="number" id="interval" [(ngModel)]="selectedInterval" min="1">
    </div>
    <button (click)="generateHours()">Generuj</button>
    <div *ngIf="generatedHours.length > 0">
        <p>Wybrane godziny:</p>
        <div *ngFor="let hour of generatedHours">
            <label>
                <input type="checkbox" [(ngModel)]="selectedHours[hour]"> {{ hour }}
            </label>
        </div>
    </div>
    <button (click)="addSchedule()">Dodaj harmonogram</button>
    <div *ngIf="schedules.length > 0">
        <p>Harmonogramy:</p>
        <div *ngFor="let schedule of schedules">
            <p>{{ schedule.name }} - Dni: {{ schedule.days.join(', ') }} - Godziny: {{ schedule.hours.join(', ') }}</p>
        </div>
    </div>
</div> -->