<div class="ms">
    <div class="ms_outer">
        <div class="title-border">
            <h2 class="title">Blog</h2>
        </div>
        <div class="ms_inner">
            <div class="contents-box" *ngFor="let blog of blogs">
                <div class="main-container">
                    <div class="container-left">
                        <div class="title-blog-border">
                            <h2 class="title-blog">{{blog.tytul}}</h2>
                        </div>
                        <div class="mobile-foto">
                            <img class="img" src="../../assets/AdobeStock_119605372_Easy-Resize.com(1).jpg">
                        </div>
                        <div class="text">
                            <h2 class="text">{{blog.tresc}}</h2>
                        </div>
                    </div>
                    <div class="container-right">
                        <img class="img" src="../../assets/AdobeStock_119605372_Easy-Resize.com(1).jpg">
                    </div>
                </div>
                <div class="button">
                    <button class="button-border" [routerLink]="['/blog-test', blog.id]">Czytaj więcej</button>
                </div>
            </div>
        </div>
    </div>
</div>