.ms {
}

.ms_outer {
}

.bar {
  display: flex;
  justify-content: center;
}

.title-border {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #bbeefc;
  color: #22a6b3;
  width: 100%;
  max-width: 1440px;
  margin-top: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 40px;

  @media (min-width: 1445px) {
    border-radius: 10px;
  }
}

.title {
  font-size: 32px;

  @media (max-width: 321px) {
    font-size: 26px;
  }
}

// ustwaienie kolumn
.blog-list {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  grid-template-columns: repeat(2, auto);
  gap: 100px;

  @media (max-width: 1025px) {
    gap: 50px;
  }

  @media (max-width: 769px) {
    grid-template-columns: repeat(1, auto);
  }

  // @media (max-width: 426px) {
  //   grid-template-columns: repeat(1, auto);
  // }
}

.box-list {
}

.text,
.title {
  font-family: sans-serif;
}

// wymiary boxow z zawartoscia
.main-container {
  width: 100%;
  max-width: 500px;
  height: 550px;
  background-color: #bbeefc;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  @media (max-width: 1025px) {
    max-width: 400px;
    height: 600px;
  }

  @media (max-width: 769px) {
    max-width: 700px;
    height: auto;
  }

  @media (max-width: 426px) {
    max-width: 400px;
    height: auto;
  }

  @media (max-width: 376px) {
    max-width: 350px;
    height: auto;
  }

  @media (max-width: 321px) {
    max-width: 300px;
    height: auto;
  }
}

.text-border {
  padding: 0px 30px 30px 30px;
  line-height: 25px;

  @media (max-width: 426px) {
    padding: 0px;
    text-align: left;
  }

  @media (max-width: 376px) {
    padding: 0px;
    text-align: left;
  }

  @media (max-width: 321px) {
    padding: 0px;
    text-align: left;
  }
}

.mobile-foto {
  display: flex;
  justify-content: center;
}

.img-mobi {
  width: 250px;
  height: 150px;
  border: 3px solid #22a6b3;
  border-radius: 10px;
  margin-top: 30px;

  @media (max-width: 769px) {
  }

  @media (max-width: 321px) {
    width: 220px;
    height: 120px;
  }
}

.button-border {
  display: flex;
  justify-content: center;
  background-color: #bbeefc;
  border-end-end-radius: 20px;
  border-end-start-radius: 20px;
}

.button {
  font-size: 20px;
  color: white;
  border: 5px #01a3a4 solid;
  border-radius: 20px;
  background-color: #01a3a4;
  margin-bottom: 20px;
  cursor: pointer;
}

.title-blog-border {
  color: #00bfa8;
  display: flex;
}

.title-blog {
  font-size: 28px;
  padding: 30px 30px 20px 30px;
  font-family: sans-serif;

  @media (max-width: 700px) {
    font-size: 24px;
  }

  @media (max-width: 376px) {
    font-size: 22px;
  }

  @media (max-width: 321px) {
    font-size: 22px;
  }
}

.text {
  @media (max-width: 426px) {
    padding: 0px 30px 20px 30px;
  }

  @media (max-width: 376px) {
    padding: 0px 20px 30px;
    font-size: 15px;
  }

  @media (max-width: 321px) {
    padding: 0px 20px 30px;
    font-size: 14px;
  }
}
