<app-header></app-header>
<app-navbar></app-navbar>
<app-img-navbar-other></app-img-navbar-other>
<div class="ms">
    <div class="ms_outer">
        <div class="bar">
            <a class="title-border">
                <h2 class="title">Wpisy</h2>
            </a>
            <div id="bloglist"></div>
        </div>
        <div class="ms_inner">
            <div class="blog-list">
                <div class="box-list" *ngFor="let blog of blogs">
                    <div class="box">
                        <div class="main-container">
                            <a class="mobile-foto">
                                <img class="img-mobi" src="../../assets/AdobeStock_119605372_Easy-Resize.com(1).jpg">
                            </a>
                            <a class="title-blog-border">
                                <h2 class="title-blog">{{blog.tytul}}</h2>
                            </a>
                            <a class="text-border">
                                <h2 class="text">{{blog.skrotopisu}}[...]</h2>
                            </a>
                        </div>
                        <a class="button-border">
                            <button class="button" [routerLink]="['/blog', blog._id]">Czytaj
                                więcej</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a *ngIf="showScrollButton" class="scroll-to-top" (click)="scrollToTop()">
    <i>&#8593;</i>
</a>
<app-footer></app-footer>