<app-header-admin></app-header-admin>
<!-- <p>admin-blog works!</p> -->
<div class="blog-container">
    <h2>Add New Post</h2>
    <div class="input-group">
        <label>Title:</label>
        <input [(ngModel)]="newPost.title" placeholder="Enter title">
    </div>
    <div class="input-group">
        <label>Content:</label>
        <textarea [(ngModel)]="newPost.content" placeholder="Enter content"></textarea>
    </div>
    <div class="input-group">
        <!-- <label>Image URL:</label>
        <input [(ngModel)]="newPost.image" placeholder="Enter image URL"> -->
        <input type="file" (change)="onFileSelected($event)">
    </div>
    <button (click)="addPost()">Add Post</button>

    <h2>Posts</h2>
    <div *ngFor="let post of posts; let i = index" class="post">
        <h3>{{ post.title }}</h3>
        <p>{{ post.content }}</p>
        <img [src]="post.image" alt="Post Image">
        <button (click)="deletePost(i)">Delete</button>
    </div>
</div>