<app-header-admin></app-header-admin>
<div class="main-container">
    <div class="left-container">
        <div class="main-box">
            <form>
                <div class="title-box">
                    <h2 class="add-doctor">{{ editingBlog ? 'Edycja Blog' : 'Dodawanie Bloga' }}</h2>
                </div>
                <div class="group-box">
                    <div class="form-group">
                        <label class="name">Tytuł</label>
                        <input class="border" name="firstname" [(ngModel)]="title">
                    </div>
                    <div class="form-group">
                        <label class="name">Streszczenie opisu</label>
                        <textarea class="name-2" name="contents" placeholder="Dodaj opis" [(ngModel)]="content"
                            maxlength="500"></textarea>
                        <div class="character-count">
                            Pozostało znaków: {{ 500 - content.length }}
                        </div>
                    </div>
                    <div class="border-but">
                        <button class="button-border"
                            (click)="(!isEmptyFields()) && (editingBlog ? updateBlog() : addBlog())">
                            {{ editingBlog ? 'Zapisz' : 'Dodaj' }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<div class="right-container">
    <div class="title-column-border">
        <h2 class="title-column">BLOG</h2>
    </div>
    <div class="main-column">
        <div class="main-box-list">
            <button class="doctor-button-list" (click)="getBlogs()">
                <p class="title-doctor-button-list">Odśwież listę</p>
            </button>
            <div class="main-doctor-list" *ngIf="blogs.length > 0">
                <div class="main-list">
                    <ul class="q">
                        <li *ngFor="let blog of blogs" class="list">
                            <span class="firstname">{{blog.tytul}}</span>
                            <span class="content">{{blog.tresc}}</span>
                            <button class="doctor-edit" (click)="editBlog(blog)" (click)="scrollToTop()">Edytuj</button>
                            <button class="doctor-delete" (click)="confirmDelete(blog._id)">Usuń</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="scroll-to-top" (click)="scrollToTop()">
    <i class="fas fa-chevron-up">&#8593; </i>
</div>