<div class="main_container">
    <div class="container-left">
        <div class="main_title">
            <h2 class="title">Chrapanie – uciążliwy problem nie tylko dla chorego</h2>
        </div>
        <div class="text_2">
            <h2>Szacuje się, że problem chrapania dotyczy aż 10% wszystkich ludzi. Choć bywa ono uciążliwe, często jest
                ignorowane jako coś nieprzyjemnego, lecz mało istotnego dla naszego zdrowia. Okazuje się jednak, że
                chrapanie może nieść za sobą poważniejsze konsekwencje, niż mogłoby się wydawać. Dlatego osoba, która
                stale zmaga się z tą dolegliwością, powinna koniecznie udać się do […]</h2>
        </div>
    </div>
    <div class="container-right">
        <img class="img" src="../../assets/AdobeStock_119605372_Easy-Resize.com(1).jpg">
    </div>
</div>
<div class="button">
    <button class="button_border" routerLink="/chrapanie–uciazliwy-problem-nie-tylko-dla-chorego">Czytajwięcej</button>
</div>
<!-- <div class="main-box">
    <div class="box" *ngFor="let doctor of doctors">
        <div class="first-container">
            <img class="img" src="../../assets/img-doctorr/LEKARZ.jpg">
        </div>
        <div class="second-container">
            <span class="category">{{doctor.kategoria}}</span>
            <span class="firstname">{{doctor.imie}}</span>
            <span class="lastname">{{doctor.nazwisko}}</span>
        </div>
        <div class="third-container">
            <p class="content">{{doctor.opis}}</p>
        </div>
    </div>
</div> -->