<app-header></app-header>
<app-navbar></app-navbar>
<app-img-navbar-other></app-img-navbar-other>
<div class="main-title">
    <h2 class="title">Nasz zespół</h2>
</div>
<div class="main-box">
    <div class="box" *ngFor="let doctor of doctors">
        <div class="first-container">
            <img class="img" src="../../assets/img-doctorr/LEKARZ.jpg">
        </div>
        <div class="second-container">
            <span class="category">{{doctor.kategoria}}</span>
            <span class="firstname">{{doctor.imie}}</span>
            <span class="lastname">{{doctor.nazwisko}}</span>
        </div>
        <div class="third-container">
            <p class="content">{{doctor.opis}}</p>
        </div>
    </div>
</div>
<div class="scroll-to-top" (click)="scrollToTop()">
    <i class="fas fa-chevron-up">&#8593; </i>
</div>
<app-footer></app-footer>