<app-header></app-header>
<app-navbar></app-navbar>
<app-img-navbar-other></app-img-navbar-other>
<div class="main-container">
    <div class="left-container">
        <h2 class="main-title">Przychodnia MedLife</h2>
        <div class="text">
            <h2>ul. Krasnoludek 3, xx-xxx PAGO</h2>
            <h2>telefon: 123 123 123, 321 321 321</h2>
            <h2>e-mail: recepcja@przychodniaX</h2>
        </div>
    </div>
    <div class="right-container">
        <img class="img" src="../../assets/260338329_439095204514869_7098002883342268267_n.png">
    </div>
</div>
<div class="map">
    <img class="img-2" src="../../assets/mapa_google.png">
</div>
<app-footer></app-footer>