<app-img-navbar-other></app-img-navbar-other>
<div class="main-container">
    <div class="left-container">
        <h2 class="title">Lekarz pediatra</h2>
        <p class="text">
            Lekarz pediatra jest specjalistą w dziedzinie medycyny zajmującym się opieką zdrowotną dzieci, od noworodków
            do pacjentów w wieku do lat 18. Lekarz pediatra bada pacjentów, diagnozuje choroby, przepisuje leki i leczy
            choroby przewlekłe.
            Lekarz pediatra zajmuje się również profilaktyką chorób u dzieci oraz edukacją rodziców w zakresie zdrowego
            stylu życia dziecka, takiego jak odpowiednia dieta, aktywność fizyczna i unikanie szkodliwych substancji.
            Lekarz pediatra przeprowadza również rutynowe badania i testy, takie jak szczepienia, badania wzroku i
            słuchu, a także przesiewowe testy na choroby, takie jak cukrzyca i niedoczynność tarczycy.
            Lekarz pediatra może również pomóc w diagnozowaniu i leczeniu zaburzeń rozwojowych i zachowania, takich jak
            ADHD czy zaburzenia lękowe. W przypadku potrzeby, lekarz pediatra skieruje pacjenta do specjalisty, takiego
            jak neurolog dziecięcy czy psychiatra dziecięcy.
            Lekarz pediatra pracuje w ścisłej współpracy z rodziną dziecka i bierze pod uwagę nie tylko jego stan
            fizyczny, ale również stan emocjonalny i społeczny. Cechuje go cierpliwość, empatia oraz umiejętność pracy z
            dziećmi i ich rodzicami w sposób przyjazny i dostępny.
        </p>
    </div>
    <div class="left-container">
        <img class="img" src="../../assets/img-lekarze/344287967_174481875561966_412174642921280558_n.jpg">
    </div>
</div>