<app-header></app-header>
<app-navbar></app-navbar>
<app-img-navbar-other></app-img-navbar-other>
<div class="main-container">
    <div class="top-container">
        <h2 class="main-title">Cennik naszych usług</h2>
    </div>
</div>
<div class="box-1">
    <div class="main-border-1">
        <div class="border">
            <h2 class="box-title">Wizyta lekarska</h2>
        </div>
        <div class="box-text">
            <h2>Lekarz medycyny rodzinnej</h2>
            <h2>150zł</h2>
        </div>
        <div class="box-text">
            <h2>Lekarz pediatra</h2>
            <h2>150zł</h2>
        </div>
        <div class="box-text">
            <h2>Lekarz rezydent</h2>
            <h2>150zł</h2>
        </div>
    </div>
</div>
<div class="box-1">
    <div class="main-border-2">
        <div class="border">
            <h2 class="box-title">Wizyta specjaliści</h2>
        </div>
        <div class="box-text">
            <h2>Diabetolog</h2>
            <h2>250zł</h2>
        </div>
        <div class="box-text">
            <h2>Kardiologia</h2>
            <h2>220zł</h2>
        </div>
        <div class="box-text">
            <h2>Psycholog</h2>
            <h2>200zł</h2>
        </div>
        <div class="box-text">
            <h2>Ginekolog</h2>
            <h2>250zł</h2>
        </div>
        <div class="box-text">
            <h2>Baleneolog</h2>
            <h2>230zł</h2>
        </div>
    </div>
</div>
<div class="">
    <h2 class="info">Przybliżona cena</h2>
</div>
<div class="">
    <h2 class="info">Ceny wizyty mogą się różnić w zależność od Lekarza lub Specialisty</h2>
</div>
<app-footer></app-footer>