.main-container {
  display: flex;
  justify-content: center;
}

.top-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  height: 50px;
  background-color: #bbeefc;
  color: #22a6b3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 1440px;

  @media (min-width: 1445px) {
    border-radius: 10px;
  }
}

.main-title {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 300;

  @media (max-width: 700px) {
    font-size: 26px;
  }
}

.main-border-1 {
  margin-top: 60px;
  width: 300px;
  height: 200px;
  background-color: #bbeefc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-border-2 {
  margin-top: 60px;
  width: 350px;
  height: 300px;
  background-color: #bbeefc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-border-1,
.main-border-2 {
  border-radius: 20px;

  @media (max-width: 700px) {
    width: 300px;
    height: auto + 10;
  }
}

.border {
  background-color: #55b8b2;
}

.box-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  height: 50px;
  color: white;
  font-weight: 300;

  @media (max-width: 700px) {
    font-size: 22px;
  }
}

.box-1 {
  display: flex;
  justify-content: center;
}

.box-text {
  margin-top: 25px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

h2 {
  font-family: sans-serif;
  font-size: 14px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-size: 12px;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  background-color: #01a3a4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 9999;
  border: 3px solid white;

  @media (max-width: 1441px) {
    width: 40px;
    height: 40px;
  }

  @media (max-width: 426px) {
    width: 30px;
    height: 30px;
  }
}

.scroll-to-top i {
  color: #fff;
  font-size: 20px;

  @media (max-width: 426px) {
    font-size: 15px;
  }
}
