<app-header></app-header>
<app-navbar></app-navbar>
<app-img-navbar-other></app-img-navbar-other>
<div class="main-container">
    <div class="top-container">
        <h2 class="main-title">Cennik naszych usług</h2>
    </div>
</div>
<div class="box-1">
    <div class="main-border-2">
        <div class="border">
            <h3 class="box-title">Wizyta</h3>
        </div>
        <div *ngFor="let ros of ross" class="box-text">
            <h3>{{ros.nazwa}}</h3>
            <h3>{{ros.cena}}zł</h3>
        </div>
        <div class="box-text"></div>
    </div>
</div>
<a *ngIf="showScrollButton" class="scroll-to-top" (click)="scrollToTop()">
    <i>&#8593;</i>
</a>
<app-footer></app-footer>