<app-header-reception></app-header-reception>
<div class="right-container">
    <div class="title-column-border">
        <h2 class="title-column">Lista Rezerwacji</h2>
    </div>
    <div class="main-box-list">
        <div class="main-doctor-list" *ngIf="visits.length > 0">
            <div class="main-list">
                <div class="dbl-border">
                    <!-- <button class="doctor-button-list" (click)="getVisit()">
                        <p class="title-doctor-button-list">Odśwież listę</p>
                    </button> -->
                </div>
                <ul class="q">
                    <li *ngFor="let visit of visits" class="list">
                        <span class="clientfirstname">
                            Imię:
                            {{visit.imieklienta}}
                        </span>
                        <span class="clientlastname">
                            Nazwisko:
                            {{visit.nazwiskoklienta}}
                        </span>
                        <span class="clientcontact">
                            Telefon:
                            {{visit.kontaktklienta}}
                        </span>
                        <span class="clientmail">
                            E-mail:
                            {{visit.mailklient}}
                        </span>
                        <!-- <span class="clientcontent">
                            Lekarz
                            {{visit.lekarz}}
                        </span> -->
                        <span class="clientmail">
                            Dzień:
                            {{visit.dzienTygodnia}}:
                            {{visit.dzien}}
                        </span>
                        <span class="clientmail">
                            Godzina:
                            {{visit.godzina}}
                        </span>
                        <div class="buttons">
                            <button class="doctor-delete" (click)="confirmDelete(visit._id)">Anuluj rezerwacje</button>
                            <button class="doctor-edit">Potwierdz rezerwacje</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<button class="doctor-button-list" (click)="refreshList()">
    <p class="title-doctor-button-list">Odśwież listę</p>
</button>
<button class="doctor-button-list" (click)="removeExpiredVisits(visits)">
    <p class="title-doctor-button-list">Usuń przeterminowane wizyty</p>
</button>