<app-header-reception></app-header-reception>
<div class="ms">
    <div class="right-container">
        <div>
            <button class="doctor-button-list" (click)="removeExpiredVisits(visits)">
                <p class="title-doctor-button-list">Usuń przeterminowane wizyty</p>
            </button>
        </div>
        <div>
            <button class="doctor-button-list" (click)="refreshList()">
                <p class="title-doctor-button-list">Odśwież listę</p>
            </button>
        </div>
        <div class="title-column-border">
            <h2 class="title-column">Nowe rezerwacje ({{ newVisitsCount }})</h2>
        </div>
        <div class="main-box-list">
            <div class="main-doctor-list" *ngIf="newVisits.length > 0">
                <div class="main-list">
                    <a class="more">
                        <button class="clickme" (click)="toggleDescription1()">
                            <span *ngIf="!showArrow1">&darr;</span>
                            <span *ngIf="showArrow1">&uarr;</span>
                        </button>
                    </a>
                    <ul class="q" *ngIf="onshowdescription1">
                        <div class="search-container">
                            <h2 class="search-title">Wyszukaj nową wizytę:</h2>
                            <input class="text-border" type="text" placeholder="nr. telefonu"
                                [(ngModel)]="newVisitsSearchContact">
                            <button class="search-button" (click)="searchNewVisits()">Szukaj</button>
                        </div>
                        <li *ngFor="let visit of newVisits" class="list">
                            <span class="clientfirstname">
                                Imię: {{visit.imieklienta}}
                            </span>
                            <span class="clientlastname">
                                Nazwisko: {{visit.nazwiskoklienta}}
                            </span>
                            <span class="clientcontact">
                                Telefon: {{visit.kontaktklienta}}
                            </span>
                            <span class="clientmail">
                                E-mail: {{visit.mailklient}}
                            </span>
                            <span class="clientmail">
                                Dzień: {{visit.dzienTygodnia}}: {{visit.dzien}}
                            </span>
                            <span class="clientmail-last">
                                Godzina: {{visit.godzina}}
                            </span>
                            <div class="info-border">
                                <span class="info-title">Wyślij SMS na numer: {{ formatujNumerTel(visit.kontaktklienta)
                                    }}</span>
                                <div class="info-text-border">
                                    <span class="info-text">MedLife zaprasza na umowiona wizyte {{visit.dzien}} o
                                        godzine
                                        {{visit.godzina}}. Prosze o potwierdzenie wizyty sms.</span>
                                </div>
                            </div>
                            <div class="buttons">
                                <button class="doctor-edit" (click)="confirmConfirmation(visit._id)">Potwierdź
                                </button>
                                <button class="doctor-delete" (click)="confirmDelete(visit._id)">Anuluj
                                </button>
                            </div>
                        </li>
                        <a class="more">
                            <button class="clickme" (click)="toggleDescription1()">
                                <span *ngIf="!showArrow1">&darr;</span>
                                <span *ngIf="showArrow1">&uarr;</span>
                            </button>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="right-container" *ngIf="confirmedVisits.length > 0">
        <div class="title-column-border">
            <h2 class="title-column">Lista potwierdzonych rezerwacji</h2>
        </div>
        <div class="main-box-list">
            <div class="main-doctor-list">
                <div class="main-list">
                    <a class="more">
                        <button class="clickme" (click)="toggleDescription2()">
                            <span *ngIf="!showArrow2">&darr;</span>
                            <span *ngIf="showArrow2">&uarr;</span>
                        </button>
                    </a>
                    <ul class="q" *ngIf="onshowdescription2">
                        <div class="search-container">
                            <h2 class="search-title">Wyszukaj wizytę:</h2>
                            <input class="text-border" type="text" placeholder="Imię"
                                [(ngModel)]="clientSearchFirstName">
                            <input class="text-border" type="text" placeholder="Nazwisko"
                                [(ngModel)]="clientSearchLastName">
                            <input class="text-border" type="text" placeholder="nr. telefonu"
                                [(ngModel)]="clientSearchContact">
                            <button class="search-button" (click)="searchConfirmedVisits()">Szukaj</button>
                        </div>
                        <li *ngFor="let confirmedVisit of confirmedVisits" class="list">
                            <span class="clientfirstname">
                                Imię:
                                {{confirmedVisit.imieklienta}}
                            </span>
                            <span class="clientlastname">
                                Nazwisko:
                                {{confirmedVisit.nazwiskoklienta}}
                            </span>
                            <span class="clientcontact">
                                Telefon:
                                {{confirmedVisit.kontaktklienta}}
                            </span>
                            <span class="clientmail">
                                E-mail:
                                {{confirmedVisit.mailklient}}
                            </span>
                            <span class="clientmail">
                                Dzień:
                                {{confirmedVisit.dzienTygodnia}}:
                                {{confirmedVisit.dzien}}
                            </span>
                            <span class="clientmail">
                                Godzina:
                                {{confirmedVisit.godzina}}
                            </span>
                            <div class="buttons">
                                <button class="doctor-delete" (click)="confirmDelete(confirmedVisit._id)">Anuluj
                                    rezerwacje</button>
                            </div>
                        </li>
                        <a class="more">
                            <button class="clickme" (click)="toggleDescription2()">
                                <span *ngIf="!showArrow2">&darr;</span>
                                <span *ngIf="showArrow2">&uarr;</span>
                            </button>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>