.bar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    height: 50px;
    background-color: #bbeefc;
    color: #22a6b3;
}

.name-bar{
    font-size: 32px;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 33px;
    margin-bottom: 10px;
}

.img2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 33px;
    margin-bottom: 10px;
}

.main-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.text-wrapper {
    text-align: center;
}

.left-left,
.left,
.right,
.right-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    width: 250px;
    height: 110px;
    background-color: #bbeefc;
}