.ms_inner {
  display: flex;
  justify-content: center;
}

h2 {
  font-family: sans-serif;
  margin-bottom: 8px;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #bbeefc;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin-top: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  @media (min-width: 1445px) {
    border-radius: 10px;
  }

  @media (max-width: 1439px) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #bbeefc;
    width: 100%;
    max-width: auto;
    height: 100%;
    margin-top: 40px;
  }
}

.right-container {
  display: flex;
}

.box-title {
  color: #00bfa8;
  display: flex;
  margin-bottom: 10px;
}

.title {
  font-size: 28px;
  margin-left: 50px;
  margin-top: 50px;

  @media (max-width: 1439px) {
    font-size: 26px;
    margin-left: 50px;
    margin-top: 50px;
  }

  @media (max-width: 700px) {
    margin-left: 0px;
    margin-top: 20px;
    font-size: 26px;
    padding: 0 50px 0;
  }

  @media (max-width: 321px) {
    font-size: 26px;
    padding: 0 10px 0;
    text-align: center;
  }
}

.img {
  display: flex;
  width: 450px;
  height: 450px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 10px;

  @media (max-width: 1439px) {
    display: none;
  }
}

.first-text {
  font-size: 14px;
  padding: 0px 50px 0;
  box-sizing: content-box;
  max-width: 850px;

  @media (max-width: 700px) {
    font-size: 14px;
  }

  @media (max-width: 321px) {
    padding: 0 30px 0;
    text-align: left;
    font-size: 14px;
  }
}

.second-text {
  padding: 30px 50px 0;
  font-size: 16px;
  box-sizing: content-box;
  line-height: 20px;

  @media (max-width: 700px) {
    font-size: 14px;
  }

  @media (max-width: 321px) {
    padding-top: 0px;
    padding-left: 10px;
    font-size: 12px;
  }
}

.first-text,
.second-text {
  font-family: sans-serif;
}

.button-border {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bbeefc;
  width: 100%;
  max-width: 1440px;
  height: 100%;
}

.button {
  font-size: 20px;
  color: white;
  border: 5px #01a3a4 solid;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #01a3a4;
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

.ms {
  margin-bottom: 40px;
}
