.main_container {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  background-color: #bbeefc;
  height: 500px;
}

.container-right {
  display: flex;
}

.main_title {
  color: #00bfa8;
  display: flex;
  // justify-content: flex-start;
}

.title {
  font-size: 20px;
  margin-left: 50px;
  margin-top: 50px;
}

.img {
  display: flex;
  width: 450px;
  height: 450px;
}

.text_1 {
  font-size: 12px;
  padding: 15px 50px 0;
  box-sizing: content-box;
  width: 430px;
  font-family: sans-serif;
}

.text_2 {
  padding: 30px 50px 0;
  font-size: 14px;
  box-sizing: content-box;
  width: 400px;
  line-height: 20px;
  font-family: sans-serif;
}

.button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button_border {
  margin-top: 50px;
  padding: 0 50px;
  font-size: 35px;
  color: white;
  margin-right: 20px;
  border: 5px #01a3a4 solid;
  border-radius: 20px;
  background-color: #01a3a4;
}
