<div class="main-container">
    <div class="main_container">
        <div class="container-left">
            <div class="main_title">
                <h2 class="title">INTERNETOWA REZERWACJA WIZYTY W PRZYCHODNI Med-Life</h2>
            </div>
            <div class="text_1">
                <h2>Aby zapewnić jak najwyższy standard naszych usług w naszej przychodni można umawiać wizyty
                    lekarskie przez
                    internet.</h2>
                <h2>Cenimy Państwa czas i wygodę i dlatego preferujemy umawianie się na wizytę na konkretną godzinę.
                    Skraca to czas oczekiwania.</h2>
            </div>
            <div class="text_2">
                <h2>1. Wybierz interesującego cię Lekarza, Specialistę oraz specializacje.</h2>
                <h2>2. Wybierz interesujący ciebie termin wizyty.
                    Wypełnij forlularz.</h2>
                <h2>3. Wypełnij forlularz.</h2>
                <h2>4. Oczekuj na wiadomość E-mail z potwierzeniem wizyty.</h2>
                <h2>5. Do 24 godzin przed wizyty otrzyamsz SMS z wiadomością czy potwierdasz wizytę.</h2>
                <h2>6. Możliwość odwołania wizyty poprzez odpisanie na SMS lub kontakt telefoniczny z przychodnią Nr.
                    123
                    123 123</h2>
                <div class="button">
                    <button class="button_border" routerLink="/umow-wizyte">Umów wizytę</button>
                </div>
            </div>
        </div>
        <div class="container-right">
            <img class="img" src="../../assets/medical-g90b06b5ac_1920.png">
        </div>
    </div>
</div>
<!-- <div class="q">
    <div class="button">
        <button class="button_border" routerLink="/umow-wizyte">Umów wizytę</button>
    </div>
</div> -->