<div class="ms">
    <div class="ms_outer">
        <div class="ms_inner">
            <div class="main-container">
                <div class="left-contaier">
                    <div class="box-title">
                        <h2 class="title">Internetowa rezerwacja wizyty</h2>
                    </div>
                    <div class="first-text">
                        <h2>Aby zapewnić jak najwyższy standard naszych usług w naszej przychodni można umawiać wizyty
                            lekarskie przez
                            internet.</h2>
                        <h2>Cenimy Państwa czas i wygodę i dlatego preferujemy umawianie się na wizytę na konkretną
                            godzinę.
                            Skraca to czas oczekiwania.</h2>
                    </div>
                    <div class="second-text">
                        <h2>1. Wybierz interesującego cię Lekarza, Specialistę oraz specializacje.</h2>
                        <h2>2. Wybierz interesujący ciebie termin wizyty.
                            Wypełnij formularz.</h2>
                        <h2>3. Wypełnij formularz.</h2>
                        <h2>4. Oczekuj na wiadomość E-mail z potwierzeniem wizyty.</h2>
                        <h2>5. Do 24 godzin przed wizytą otrzyamsz SMS z wiadomością czy potwierdzasz wizytę.</h2>
                        <h2>6. Możliwość odwołania wizyty poprzez odpisanie na SMS lub kontakt telefoniczny z
                            przychodnią nr.
                            123
                            123 123</h2>
                        <!-- <div class="button-border">
                            <button class="button" routerLink="/umow-wizyte">Umów wizytę</button>
                        </div> -->
                    </div>
                    <div class="button-border">
                        <button class="button" routerLink="/umow-wizyte">Umów wizytę</button>
                    </div>
                </div>
                <div class="right-container ">
                    <img class="img" src="../../assets/medical-g90b06b5ac_1920.png">
                </div>
            </div>
        </div>
    </div>
</div>