<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<div *ngIf="loading; else content">
    <div class="loading-spinner">
        <p>Wczytywanie wizyt...</p>
        <i class="fas fa-circle-notch fa-spin"></i>
    </div>
</div>
<ng-template #content>
    <div class="ms">
        <div class="ms-outer">
            <div class="ms-inner" [ngClass]="{'slide-animation': animation}">
                <button class="clickme" (click)="scrollDays(-1)" [disabled]="firstDate">
                    &lt;
                </button>
                <div class="slider-container">
                    <div *ngFor="let wpis of generatedSchedule.slice(sliderIndex, sliderIndex + shownDays)"
                        class="day-container">
                        <div *ngIf="!wpis.godziny[0].startsWith('00:00')" class="day">
                            <h3 class="days">{{ wpis.dzienTygodnia }}</h3>
                            <p class="date">{{ wpis.data }}</p>
                            <ul>
                                <li class="hours" *ngFor="let godzina of wpis.godziny"
                                    (click)="onHourSelected(wpis.dzienTygodnia, wpis.data, godzina)"
                                    [ngClass]="{'reserved': whetherTimeBusy(doctorId, wpis.dzienTygodnia, wpis.data, godzina)}"
                                    [attr.disabled]="whetherTimeBusy(doctorId, wpis.dzienTygodnia, wpis.data, godzina) ? true : null">
                                    {{ godzina }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <button class="clickme" (click)="scrollDays(1)" [disabled]="lastDate">
                    &gt;
                </button>
            </div>
        </div>
    </div>
</ng-template>