<app-header></app-header>
<app-navbar></app-navbar>
<app-img-navbar-other></app-img-navbar-other>
<div class="ms">
    <div class="ms_outer">
        <div class="ms_inner">
            <div class="bar">
                <h2 class="name-bar">Nasze Specializacje</h2>
            </div>
            <div class="main-box">
                <div class="box" *ngFor="let ros of ross">
                    <div class="main-container">
                        <div class="left-left" routerLink="/lekarz-medycyny-rodzinnej">
                            <div class="img-wrapper">
                                <img class="img"
                                    src="../../assets/345979825_1043354946644494_7845053283846885340_n.png">
                            </div>
                            <div class="text-wrapper">
                                <div class="text">
                                    <h2 class="title">{{ros.nazwa}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>