<app-img-navbar-other></app-img-navbar-other>
<div class="bar">
    <h2 class="name-bar">NASZE SPECIALIZACJE</h2>
</div>
<div class="main-container">
    <div class="left-left" routerLink="/lekarz-medycyny-rodzinnej">
        <div class="img-wrapper">
            <img class="img" src="../../assets/345979825_1043354946644494_7845053283846885340_n.png">
        </div>
        <div class="text-wrapper">
            <div class="text">
                <h2 class="title">Lekarz medycyny rodzinnej</h2>
            </div>
        </div>
    </div>
    <div class="left">
        <div class="img-wrapper">
            <img class="img" src="../../assets/345979825_1043354946644494_7845053283846885340_n.png">
        </div>
        <div class="text-wrapper">
            <div class="text">
                <h2 class="title">Lekarz pediatra</h2>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="img-wrapper">
            <img class="img" src="../../assets/345979825_1043354946644494_7845053283846885340_n.png">
        </div>
        <div class="text-wrapper">
            <div class="text">
                <h2 class="title">Medycyna pracy</h2>
            </div>
        </div>
    </div>
    <div class="right-right">
        <div class="img-wrapper">
            <img class="img2" src="../../assets/345308033_1602997716831678_5304376267414405608_n.gif">
        </div>
        <div class="text-wrapper">
            <div class="text">
                <h2 class="title">Lekarz medycyny rodzinnej</h2>
            </div>
        </div>
    </div>
</div>
<div class="border">
    <button class="next" routerLink="/zakres-uslug/wiecej">Więcej</button>
</div>