.ms {
  display: flex;
  justify-content: center;
}

.ms_outer {
  width: 100%;
  max-width: 1440px;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 50px;
  background-color: #bbeefc;
  color: #22a6b3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  @media (min-width: 1445px) {
    border-radius: 10px;
  }

  @media (max-width: 476px) {
    margin-bottom: 10px;
  }
}

.name-bar {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 300;

  @media (max-width: 1024px) {
    font-size: 30px;
    font-weight: 300;
  }
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 33px;
  margin-bottom: 10px;
}

.left-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  width: 250px;
  height: 110px;
  background-color: #bbeefc;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.5s;

  @media (max-width: 1024px) {
    margin-top: 20px;
    height: 90px;
    width: 200px;
  }
}

.left-left:hover {
  transform: scale(1.1);
}

.main-box {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, auto);
  gap: 30px;

  @media (max-width: 769px) {
    grid-template-columns: repeat(3, auto);
  }

  @media (max-width: 668px) {
    grid-template-columns: repeat(1, auto);
    gap: 0px;
  }
}

.title {
  color: #00010d;
  font-size: 14px;
  font-family: sans-serif;
  @media (max-width: 1024px) {
    font-size: 14px;
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  background-color: #01a3a4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 9999;
  border: 3px solid white;

  @media (max-width: 1441px) {
    width: 40px;
    height: 40px;
  }

  @media (max-width: 426px) {
    width: 30px;
    height: 30px;
  }
}

.scroll-to-top i {
  color: #fff;
  font-size: 20px;

  @media (max-width: 426px) {
    font-size: 15px;
  }
}
