.main-container {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
  .left-container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    color: #22a6b3;
    font-size: 30px;
  }
  
  .center-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  
  .img {
    width: 600px;
    height: 400px;
  }
  
  .right-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 1300px;
    line-height: 25px;
    font-size: 18px;
  }
  