<app-img-navbar-other></app-img-navbar-other>
<div class="main-container">
    <div class="left-container">
        <h2>Chrapanie – uciążliwy problem nie tylko dla chorego</h2>
    </div>
    <div class="center-container">
        <img class="img" src="../../assets/AdobeStock_119605372_Easy-Resize.com(1).jpg">
    </div>
    <div class="right-container">
        <h2>Błona śluzowa we wnętrzu nosa jest mocno unaczyniona. W przypadku uszkodzenia obficie krwawi. Krwotok
            wywołany mechanicznym urazem jest łatwy do zatamowania i z reguły nie wymaga interwencji lekarza.

            Zdarza się jednak, że krwawienie z nosa następuje samoczynnie, bez ingerencji z zewnątrz. Jest to powodem do
            obaw i może wymagać konsultacji ze specjalistą. Może to być objawem zaburzeń ustroju lub poważniejszej
            choroby wymagającej leczenia.

            Co jeszcze warto wiedzieć na temat krwawienia z nosa? Zachęcamy do lektury!

            Przyczyny krwawienia z nosa
            Krwotok z nosa może pojawić się na skutek urazu mechanicznego lub zostać wywołany przez choroby albo leki.

            Dość częstą przyczyną, zwłaszcza u dzieci, jest dłubanie w nozdrzu lub umieszczenie tam ciała obcego. Na
            skutek podrażnienia, naczynka krwionośne ulegają uszkodzeniom, a to powoduje krwotok. Podobnie zdarza się
            przy urazach głowy i twarzy. Silne wydmuchiwanie nosa w czasie kataru oraz suche powietrze także uszkadzają
            naczynka krwionośne i powodują krwawienie.

            Tego typu krwawienia są jednak niegroźne i stosunkowo łatwe do opanowania.

            Krwawienie samoczynne może świadczyć o chorobie układu krążenia, nadciśnieniu tętniczemu, anemii, zaburzeniu
            krzepliwości, a nawet o chorobach zakaźnych. Taką dolegliwość mogą też wywołać leki przeciwzakrzepowe i
            przeciwhistaminowe.

            Jak zatamować krwotok z nosa?
            Bez względu na przyczynę krwawienia z nosa, pierwsza pomoc wygląda tak samo. Pacjent powinien usiąść i
            delikatnie pochylić głowę do przodu. Dzięki temu zbierająca się krew nie będzie spływała do gardła, a to
            zredukuje ryzyko zadławienia. Następnie należy delikatnie uciskać nasadę nosa, przez ok. 10 minut, a na kark
            nałożyć zimny kompres. Na skutek ochłodzenia naczynia krwionośne zwężą się, a to będzie sprzyjać zatamowaniu
            krwawienia.

            Po ustaniu krwawienia, pacjent powinien odpocząć, unikać wysiłku fizycznego, ciepłych napojów oraz alkoholu.
            Nie powinien też usuwać z nosa zakrzepów krwi, aby nie podrażnić zagojonego miejsca. Przyjdzie na to czas po
            pełnym zagojeniu. Jeśli pomimo wykonania powyższych czynności krwotok nie ustanie, należy zgłosić się do
            specjalisty.

            Częsty krwotok z nosa – do jakiego lekarza?
            Częste oraz samoczynne krwotoki z nosa mogą wymagać interwencji lekarza. Krwawienie z nosa może być
            spowodowane różnymi dolegliwościami i wymagać zróżnicowanej terapii. Pierwszym specjalistą, do którego
            powinniśmy się udać, jest laryngolog, który podejmie stosowne leczenie.

            Jeśli natomiast krwotoki są wywołane przez inne choroby, pacjent powinien poddać się specjalistycznej
            terapii, np. u kardiologa, angiologa, hipertensjonologa lub onkologa.</h2>
    </div>
</div>