.ms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  height: auto;
  background-color: #f2f2f2;
  max-width: 1440px;
}

.right-container {
  display: flex;
}

.title {
  font-size: 28px;
  box-sizing: content-box;
  color: #22a6b3;
  padding: 30px 30px;
  font-weight: bold;

  @media (max-width: 426px) {
    font-size: 22px;
  }
}

.text {
  font-size: 16px;
  box-sizing: content-box;
  font-family: sans-serif;
  word-spacing: 2px;
  line-height: 1.6;
  color: #00010d;
  font-weight: 400;

  @media (max-width: 426px) {
    font-size: 14px;
  }
}

.text-border {
  padding: 0px 30px;
  width: 500px;
  height: auto;

  @media (max-width: 426px) {
    width: auto;
  }
}

.img {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: auto;

  @media (max-width: 1025px) {
    display: none;
  }
}

.bar-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #01a3a4;
  height: 60px;
  width: 190px;
  border-radius: 15px;
  cursor: pointer;
}

.border-name {
  border: 3px solid white;
  background-color: white;
  border-radius: 10px;
}

.name {
  font-size: 20px;
  font-family: sans-serif;
  padding: 15px;
  color: #01a3a4;
}
