<app-header></app-header>
<app-navbar></app-navbar>
<div class="main-container">
    <div class="left-container" *ngFor="let ros of ross">
        <h2 class="title">{{ros.nazwa}}</h2>
        <p class="text">{{ros.opis}}</p>
    </div>
    <div class="left-container">
        <img class="img" src="../../assets/img-lekarze/344287967_174481875561966_412174642921280558_n.jpg">
    </div>
</div>

<!-- Lekarz medycyny rodzinnej jest specjalistą w dziedzinie opieki zdrowotnej, który zajmuje się leczeniem
pacjentów we wszystkich fazach ich życia, od dzieciństwa do starości. Lekarz medycyny rodzinnej bada
pacjentów, diagnozuje choroby, przepisuje leki i leczy choroby przewlekłe.
Jego rolą jest również profilaktyka chorób i edukacja pacjentów w zakresie zdrowego stylu życia, takiego jak
dieta i aktywność fizyczna. Lekarz medycyny rodzinnej pracuje również na rzecz ochrony zdrowia publicznego,
pomagając w identyfikacji i kontrolowaniu chorób zakaźnych.
Lekarz medycyny rodzinnej jest często pierwszym punktem kontaktu pacjenta z systemem opieki zdrowotnej i
może przeprowadzać badania rutynowe, takie jak badania krwi i przesiewowe testy na raka. Cechuje go również
podejście holistyczne, które bierze pod uwagę nie tylko stan fizyczny pacjenta, ale także jego stan
emocjonalny i społeczny.
W przypadku potrzeby lekarz medycyny rodzinnej skieruje pacjenta do specjalisty, takiego jak kardiolog,
gastroenterolog lub psychiatra, ale będzie nadal koordynować opiekę nad pacjentem w celu zapewnienia spójnej
opieki zdrowotnej. -->