<app-header></app-header>
<app-navbar></app-navbar>
<div class="main-container">
    <div class="left-container" *ngFor="let ros of ross">
        <h2 class="title">{{ros.nazwa}}</h2>
        <p class="text">{{ros.opis}}</p>
    </div>
    <div class="left-container">
        <img class="img" src="../../assets/img-lekarze/344287967_174481875561966_412174642921280558_n.jpg">
    </div>
</div>
<div class="bar-2">
    <a class="border">
        <a class="border-name">
            <span class="name" routerLink="/zakres-uslug">Lista usług</span>
        </a>
    </a>
</div>
<app-footer></app-footer>