.main-container {
  margin-top: 6em;
  display: flex;
  justify-content: space-around;
  height: 600px;
}

.left-container {
}

.right-container {
  display: flex;
}

.title {
  font-size: 36px;
  margin-bottom: 0.5em;
  box-sizing: content-box;
  width: 500px;
  height: 100px;
  color: #22a6b3;
  padding: 30px 30px;
}

.text {
  padding: 0px 30px;
  font-size: 18px;
  box-sizing: content-box;
  width: 500px;
  height: 100px;
  line-height: 20px;
  font-family: sans-serif;
}

.img {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 280px;
}

.bar-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #01a3a4;
  height: 50px;
  width: 250px;
  border-radius: 15px;
}

.border-name {
  border: 3px solid white;
  background-color: white;
  border-radius: 10px;
}

.name {
  font-size: 26px;
  font-family: sans-serif;
  padding: 15px;
  color: #01a3a4;
}
