<div class="top-box"></div>
<div class="ms">
    <div class="ms_outer">
        <div class="nav-bar">
            <div class="container-left">
                <a routerLink="/admin-homepage">
                    <img class="logo" src="../../assets/343958848_562057416008897_96267590959828_n.png">
                </a>
                <div class="main-name">
                    <button class="main-name" routerLink="/admin-homepage">MedLife</button>
                </div>
            </div>
            <div class="container-right">
                <!-- <button class="ce" routerLink="/rezerwacja">Rezerwacje</button> -->
                <button class="link" routerLink="/admin-blog">Dodaj Blog</button>
                <button class="link" routerLink="/ros">Dodaj Specjalizacje</button>
                <button class="link" routerLink="/add-doctor">Dodaj Pracownika</button>
                <button class="link" routerLink="/admin-harmonogram">Harmonogram</button>
            </div>
        </div>
        <div class="limit-width">
            <div class="botton-box"></div>
        </div>
    </div>
</div>