<div class="top-box"></div>
<div class="nav-bar">
    <div class="container-left">
        <a routerLink="/admin-homepage">
            <img class="logo" src="../../assets/343958848_562057416008897_96267590959828_n.png">
        </a>
        <div class="main-name">
            <button class="main-name" routerLink="/admin-homepage">Med-Life</button>
        </div>
    </div>
    <div class="container-right">
        <button class="zu" routerLink="/admin-blog">Dodaj Blog</button>
        <button class="ce" routerLink="/ros">Dodaj Specjalizacje</button>
        <button class="ce" routerLink="/add-doctor">Dodaj Pracownika</button>
    </div>
</div>
<div class="botton-box"></div>