.ms {
  display: flex;
  justify-content: center;
}

.ms_outer {
  width: 100%;
  max-width: 1980px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.container-left {
  display: flex;
  align-items: center;
}

.container-right {
  font-size: 18px;
  color: #244160;
  display: flex;
  align-items: center;
}

.top-box,
.botton-box {
  height: 25px;
  background-color: #22a6b3;
}

.limit-width {
  display: flex;
  justify-content: center;
}

.botton-box {
  width: 100%;
  max-width: 1440px;
  @media (min-width: 1445px) {
    border-radius: 10px;
  }
}

.logo {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.main-name {
  font-size: 26px;
  color: #244160;
  border: 1px;
  border-radius: 0px;
  background-color: white;
  font-family: sans-serif;
}

.link {
  font-size: 20px;
  margin-right: 20px;
  border: 1px;
  border-radius: 0px;
  background-color: white;
  transform: scale(1);
  transition: transform 0.3s;
}

.link:hover {
  transform: scale(1.2);
}
