.ms_border {
  background-color: white;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  background-color: #01a3a4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 9999;
  border: 3px solid white;

  @media (max-width: 426px) {
    width: 30px;
    height: 30px;
  }
}

.scroll-to-top i {
  color: #fff;
  font-size: 20px;

  @media (max-width: 426px) {
    font-size: 15px;
  }
}
