<div class="top-box"></div>
<div class="ms">
    <div class="ms_outer">
        <div class="nav-bar">
            <div class="container-left">
                <a routerLink="/recepcja-stronaglowna">
                    <img class="logo" src="../../assets/343958848_562057416008897_96267590959828_n.png">
                </a>
                <div class="main-name">
                    <button class="main-name" routerLink="/recepcja-stronaglowna">MedLife</button>
                </div>
            </div>
            <div class="container-right">
                <button class="link" routerLink="/recepcja-rezerwacja">Rezerwacje</button>
                <button class="link" routerLink="/recepcja-harmonogram">Harmonogram</button>
                <div class="logout-border">
                    <button class="logout" (click)="logout()">Wyloguj się</button>
                </div>
            </div>
        </div>
        <div class="limit-width">
            <div class="botton-box"></div>
        </div>
    </div>
</div>