.header {
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: space-between;
}

.container-left {
  display: flex;
  align-items: center;
}

.container-right {
  font-size: 18px;
  color: #244160;
  display: flex;
  align-items: center;
}

.p1,
.p2,
.p3,
.p4 {
  font-size: 20px;
  margin-right: 20px;
  border: 1px;
  border-radius: 0px;
  background-color: white;
}

.p5 {
  font-size: 20px;
  color: white;
  margin-right: 20px;
  border: 5px #01a3a4 solid;
  border-radius: 0px;
  background-color: #01a3a4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.p1,
.p2,
.p3,
.p4,
.p5 {
  transform: scale(1);
  transition: transform 0.3s;
}

.p1:hover,
.p2:hover,
.p3:hover,
.p4:hover,
.p5:hover {
  transform: scale(1.2);
}

.logo {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.main_name {
  font-size: 26px;
  color: #22a6b3;
  border: 1px;
  border-radius: 0px;
  background-color: white;
  font-family: sans-serif;
  position: relative;
}

.main_name button {
  transform: scale(1);
  transition: transform 0.3s;
}

.main_name button:hover {
  transform: scale(1.2);
}
