<div class="header">
    <div class="container-left">
        <a routerLink="">
            <img class="logo" src="../../assets/343958848_562057416008897_96267590959828_n.png">
        </a>
        <div class="main_name">
            <button class="main_name" routerLink="">MedLife</button>
        </div>
    </div>
    <div class="container-right">
        <button class="p1" routerLink="/zakres-uslug">Zakres usług</button>
        <button class="p2" routerLink="/cennik">Cennik</button>
        <button class="p3" routerLink="/nasz-zespol">Nasz zespół</button>
        <button class="p4" routerLink="/kontakt">Kontakt</button>
        <div class="border">
            <button class="p5" routerLink="/umow-wizyte">Umów wizytę</button>
        </div>
    </div>
</div>