// .name {
//   display: flex;
//   justify-content: center;
//   font-size: 16px;
//   margin-bottom: 5px;
//   font-family: sans-serif;
// }

.ms {
  display: flex;
  justify-content: center;
  // margin-top: 40px;
}

.ms-outer {
  width: 100%;
  max-width: 1440px;
}

.main-title-border {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #bbeefc;
  color: #22a6b3;
  width: 100%;
  max-width: 1440px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 40px;
  @media (min-width: 1445px) {
    border-radius: 10px;
  }
}

.title-box {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 300;
}

.loop-box {
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 140px; //180px
}

.img-border {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 60px;
  height: 60px;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -50%);
}

.img {
  background-color: grey;
  border-radius: 10px;
}

.border {
  border: 3px #bbeefc solid;
  border-radius: 10px;
  height: 30px;
  width: 300px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box-border {
  background-color: #55b8b2;
  width: 1300px;
  height: 130px;
  display: grid;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  @media (max-width: 1025px) {
    width: 960px;
  }

  @media (max-width: 769px) {
    width: 730px;
  }

  @media (max-width: 426px) {
    width: 380px;
  }

  @media (max-width: 376px) {
    width: 350px;
  }

  @media (max-width: 321px) {
    width: 300px;
  }
}

.name-border {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.firstname,
.lastname,
.category {
  font-size: 18px;
  color: white;
  margin-left: 8px;
  font-family: sans-serif;

  @media (max-width: 426px) {
    font-size: 14px;
  }

  @media (max-width: 321px) {
    font-size: 12px;
  }
}

.worktime {
  font-size: 16px;
  color: white;
  margin-right: 5px;
}

.main-box-2 {
  display: flex;
  justify-content: center;
}

.q {
  display: flex;
}

.category2 {
  width: 1050px;
  // height: 630px;
  height: auto + 20px;
  background-color: #bbeefc;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @media (max-width: 1025px) {
    width: 910px;
  }

  @media (max-width: 769px) {
    width: 680px;
  }

  @media (max-width: 426px) {
    width: 330px;
  }

  @media (max-width: 376px) {
    width: 300px;
  }

  @media (max-width: 321px) {
    width: 250px;
  }
}

.day {
  color: #22a6b3;
  font-family: sans-serif;
  font-size: 22px;
}

.data-list-day {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.data-list {
  // margin-top: 15px;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}

.list {
  display: grid;
  justify-content: center;
  align-items: center;
}

.wraper {
  display: grid;
  justify-content: center;
  align-items: center;
}

.data-wraper {
  display: grid;
  justify-content: center;
  align-items: center;
}

.time {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  border-bottom: 1px solid black;
  font-size: 18px;
  border: 0px;
  background-color: #bbeefc;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
}

.less {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clickme {
  width: 100px;
  height: 34px;
  background-color: #bbeefc;
  border: 0px;
  color: #55b8b2;
  font-size: 25px;
  border-radius: 10px;
  cursor: pointer;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.forms {
  width: 800px;
  // height: 450px;
}

.forms-outer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-border2 {
  display: flex;
  justify-content: center;
}

.img2 {
  width: 40px;
  height: 45px;
}

.s {
  display: grid;
  justify-content: center;
}

.title-m {
  color: #01a3a4;
  font-size: 20px;
}

.title {
  font-size: 16px;
  text-transform: capitalize;
}

.title,
.title-m {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.q {
  display: grid;
}

.border2 {
  width: 200px;
  height: 25px;
  border-radius: 5px;
  border: 2px solid #01a3a4;
}

.form2 {
  // display: flex;
  margin-top: 20px;
}

.form-group {
  display: flex;
  justify-content: space-between;
}

.name-2 {
  width: 450px;
  height: 100px;
  min-height: 100px;
  max-height: 300px;
  resize: none;
  border-radius: 5px;
  border: 2px solid #01a3a4;
}

.controls {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.button-border-controls {
  border: 0px;
}

.button {
  border: 0px;
  background-color: #01a3a4;
  color: white;
}

.button:hover {
  background-color: #22a6b3;
}

.close-button-border {
  display: flex;
  justify-content: flex-end;
}

.close-button {
  width: 30px;
  height: 30px;
  border: 1px solid #01a3a4;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
}

.button-close {
  border: 0px;
  background-color: #d9d9d9;
  color: white;
}

.button-close,
.button {
  width: 150px;
  height: 50px;
  cursor: pointer;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  background-color: #01a3a4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 9999;
  border: 3px solid white;

  @media (max-width: 1441px) {
    width: 40px;
    height: 40px;
  }

  @media (max-width: 426px) {
    width: 30px;
    height: 30px;
  }
}

.scroll-to-top i {
  color: #fff;
  font-size: 20px;

  @media (max-width: 426px) {
    font-size: 15px;
  }
}

ul {
  list-style-type: none;
}

.rabarbar {
}

.groszekborder {
  display: flex;
  justify-content: space-between;
}

.ccv {
  cursor: pointer;
}

.ccv-border {
  display: flex;
  justify-content: space-between;
}

///////// Formularz

// .fn {
//   margin-left: 5px;
// }

// .schedule {
//   margin: 20px;
// }

// table {
//   border-collapse: collapse;
// }

// th,
// td {
//   border: 2px solid #55b8b2;
//   padding: 10px;
//   text-align: center;
// }

// th {
//   background-color: #55b8b2;
//   width: 100px;
//   color: white;
//   font-family: sans-serif;
//   font-weight: 600;
// }

// td.reserved {
//   background-color: red;
//   width: 10px;
// }
