<app-header></app-header>
<app-navbar></app-navbar>
<app-img-navbar-other></app-img-navbar-other>
<div class="ms">
    <div class="ms_outer">
        <div class="title-border">
            <h2 class="title-box">Umów wizytę</h2>
        </div>
        <div class="form-group">
            <label class="name">Typ wizyty</label>
            <select class="border" name="specialization" [(ngModel)]="specialization">
                <option value="Lekarz medycyny rodzinnej">Lekarz medycyny rodzinnej</option>
                <option value="Lekarz pediatra">Lekarz pediatra</option>
                <option value="Medycyna pracy">Medycyna pracy</option>
            </select>
        </div>
        <div class="ms_inner">
            <div class="main-box" *ngFor="let doctor of doctors">
                <div class="">
                    <div class="img-border">
                        <img class="img" src="../../assets/doctor-g2cd220903_1920.png">
                    </div>
                    <div class="box-border">
                        <div class="name-border">
                            <span class="category">{{doctor.kategoria}}</span>
                            <span class="firstname">{{doctor.imie}}</span>
                            <span class="lastname">{{doctor.nazwisko}}</span>
                            <span class="category">({{doctor.specializacja}})</span>
                        </div>
                        <div class="name-border">
                            <span class="worktime">Pracuje</span>
                            <span class="worktime">{{doctor.czaspracy}}</span>
                        </div>
                        <div class="more" *ngIf="!doctor.showMore">
                            <button class="clickme" (click)="onShowMore(doctor)">&darr;</button>
                        </div>
                    </div>
                </div>
                <div class="main-box-2" *ngIf="doctor.showMore">
                    <button class="clickme" (click)="onShowLess(doctor)">&uarr;</button>
                    <div class="q">
                        <div class="category2">
                            <div class="data-list">
                                <div class="list">
                                    <span class="day">Poniedziałek</span>
                                    <div class="w">
                                        <span class="time">8:30</span>
                                        <span class="time">8:30</span>
                                        <span class="time">8:30</span>
                                        <span class="time">8:30</span>
                                    </div>
                                </div>
                                <div class="list">
                                    <span class="day">Wtorek</span>
                                    <div class="w">
                                        <span class="time">8:30</span>
                                        <span class="time">8:30</span>
                                        <span class="time">8:30</span>
                                        <span class="time">8:30</span>
                                    </div>
                                </div>
                                <div class="list">
                                    <span class="day">Środa</span>
                                    <div class="w">
                                        <span class="time">8:30</span>
                                        <span class="time">8:30</span>
                                        <span class="time">8:30</span>
                                        <span class="time">8:30</span>
                                    </div>
                                </div>
                                <div class="list">
                                    <span class="day">Czwartek</span>
                                    <div class="w">
                                        <span class="time">8:30</span>
                                        <span class="time">8:30</span>
                                        <span class="time">8:30</span>
                                        <span class="time">8:30</span>
                                    </div>
                                </div>
                                <div class="list">
                                    <span class="day">Piątek</span>
                                    <div class="w">
                                        <span class="time">8:30</span>
                                        <span class="time">8:30</span>
                                        <span class="time">8:30</span>
                                        <span class="time">8:30</span>
                                    </div>
                                </div>
                            </div>
                            <!-- <span class="category"></span> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>