<!-- <div class="form-group">
    <label class="name">Typ wizyty</label>
    <select class="border" name="specialization" [(ngModel)]="specialization">
        <option *ngFor="let spec of specializations" [value]="spec">{{ spec }}</option>
    </select>
</div> -->
<app-header></app-header>
<app-navbar></app-navbar>
<app-img-navbar-other></app-img-navbar-other>
<div class="ms">
    <div class="ms_outer">
        <div class="main-title-border">
            <h2 class="title-box">Umów wizytę</h2>
        </div>
        <div class="ms_inner">
            <div class="loop-box" *ngFor="let doctor of doctors">
                <div class="z">
                    <div class="img-border">
                        <img class="img" src="../../assets/doctor-g2cd220903_1920.png">
                    </div>
                    <div class="box-border">
                        <div class="name-border">
                            <span class="category">{{doctor.kategoria}}</span>
                            <span class="firstname">{{doctor.imie}}</span>
                            <span class="lastname">{{doctor.nazwisko}}</span>
                            <span class="category">({{doctor.specializacja}})</span>
                        </div>
                        <div class="more">
                            <button class="clickme" *ngIf="!doctor.showMore" (click)="onShowMore(doctor)">&darr;
                            </button>
                            <button class="clickme" *ngIf="doctor.showMore" (click)="onShowLess(doctor)">&uarr;</button>
                        </div>
                    </div>
                    <div>
                        <div *ngIf="doctor.showMore">
                            <!-- <span (click)="openModal()">8:35</span> -->
                            <!-- <app-sandbox [starttime]="'08:00'" [endtime]="'10:00'"></app-sandbox> -->
                            <app-shceme-display></app-shceme-display>
                            <div class="main-box-2" *ngIf="doctor.showMore">
                                <div class="q">
                                    <div class="category2">
                                        <div class="data-list">
                                            <div class="">
                                                <div class="" *ngIf="visits.length >0"></div>
                                                <ul class="rabarbar">
                                                    <li class="" *ngFor="let visits of visits">
                                                        <span (click)="openModal()"
                                                            *ngFor="let hour of visits.wybranegodziny; let i = index">
                                                            {{ hour }}
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div>
                                            </div>
                                            <div *ngIf="showForm" class="modal-background">
                                                <div class="modal-content">
                                                    <div class="close-button-border">
                                                        <button class="close-button"
                                                            (click)="closeModal()">&times;</button>
                                                    </div>
                                                    <div class="forms">
                                                        <div class="forms-outer">
                                                            <div class="forms-inner">
                                                                <div class="s">
                                                                    <div class="img-border2">
                                                                        <img class="img2"
                                                                            src="../../assets/doctor-g2cd220903_1920.png">
                                                                    </div>
                                                                    <span class="title">Rezerwacja wizyty</span>
                                                                    <span class="title">data - czas</span>
                                                                    <span class="title-m">Przychodnia medyczna
                                                                        MedLife</span>
                                                                    <div class="form-name">
                                                                        <span class="fn">{{doctor.kategoria}}</span>
                                                                        <span class="fn">{{doctor.imie}}</span>
                                                                        <span class="fn">{{doctor.nazwisko}}</span>
                                                                    </div>
                                                                    <div class="contact-form">
                                                                        <div class="form2">
                                                                            <div class="form-group">
                                                                                <input class="border2"
                                                                                    placeholder="Imie *"
                                                                                    [(ngModel)]="clientfirstname">
                                                                                <input class="border2"
                                                                                    placeholder="Nazwisko *"
                                                                                    [(ngModel)]="clientlastname">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form2">
                                                                            <div class="form-group">
                                                                                <input class="border2"
                                                                                    placeholder="Telefon komórkowy *"
                                                                                    [(ngModel)]="clientcontact">
                                                                                <input class="border2"
                                                                                    placeholder="E-mail *"
                                                                                    [(ngModel)]="clientmail">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form2">
                                                                            <textarea class="name-2" name="content"
                                                                                placeholder="Wpisz objawy, problemy, dodatkowe informacje (opcionalnie)"
                                                                                [(ngModel)]="clientcontent"></textarea>
                                                                        </div>
                                                                        <div class="controls">
                                                                            <div class="button-border-controls">
                                                                                <button (click)="closeModal()"
                                                                                    class="button-close">REZYGNUJE</button>
                                                                            </div>
                                                                            <div class="button-border-controls">
                                                                                <button class="button"
                                                                                    (click)="registerVisit()"
                                                                                    [disabled]="isEmptyFields()">
                                                                                    REJESTRUJE
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div *ngIf="doctor.showMore">
    <div *ngFor="let visit of visits">
        <span>{{visit.nazwaharmonogramu}}</span>
    </div>
</div> -->
<a *ngIf="showScrollButton" class="scroll-to-top" (click)="scrollToTop()">
    <i class="fas fa-chevron-up">&#8593; </i>
</a>
<app-footer></app-footer>


<!-- <div *ngFor="let visit of visits">
                                    <div (click)="openModal()">
                                        {{visit.czaspracy}}
                                    </div>
                                </div> -->





<!--Formularz -->

<!-- <div class="schedule">
    <table>
        <thead>
            <tr>
                <th></th>
                <th *ngFor="let day of daysOfWeek">{{ day }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let hour of availableHours">
                <td>{{ hour }}</td>
                <td (click)="openModal()" *ngFor="let day of daysOfWeek"
                    [ngClass]="{'reserved': isHourReserved(day, hour)}"></td>
            </tr>
        </tbody>
    </table>
</div> -->


<!-- <span>
                                                {{visits.nazwa}}
                                            </span> -->
<!-- <div class="groszekborder">
                                                <span class="groszek" *ngFor="let day of visits.dnitygodnia | keyvalue">
                                                    {{ day.key }}
                                                </span>
                                            </div>
                                            <div class="ccv-border">
                                                <span class="ccv" *ngFor="let hour of visits.wybranegodziny | keyvalue"
                                                    (click)="openModal()">
                                                    {{ hour.key }}
                                                </span>
                                            </div> -->