<ul class="q">
    <li *ngFor="let doctor of doctors" class="list">
        <!-- <div class="data-doctor-list"> -->
        <span class="firstname">
            Imię:
            {{doctor.imie}}
        </span>
        <span class="lastname">
            Nazwisko:
            {{doctor.nazwisko}}
        </span>
        <span class="category">
            Kategoria:
            {{doctor.kategoria}}
        </span>
        <span class="specialization">
            Specializacja:
            {{doctor.specializacja}}
        </span>
        <!-- <span class="worktime">
            Czas pracy:
            {{doctor.czaspracy}}
        </span> -->
        <!-- </div> -->
        <span class="content">
            <p class="ops">Opis:</p>
            {{doctor.opis}}
        </span>
    </li>
</ul>


<ul *ngFor="let visits of visits">
    <li>
        <span>
            {{visits.nazwa}}
        </span>
        <span *ngFor="let day of visits.dnitygodnia | keyvalue">
            <button>
                {{ day.key }}
            </button>
        </span>
        <span *ngFor="let hour of visits.wybranegodziny | keyvalue">
            <button>
                {{ hour.key }}
            </button>
        </span>
    </li>
</ul>