<div class="main">
    <div class="slider">
        <div class="slides" [style.left.px]="slidePosition">
            <img src="../../assets/586391462.jpg" alt="Slide 1">
            <img src="../../assets/doctor-g7b32dfc83_1920.png" alt="Slide 2">
            <img src="../../assets/medical-g90b06b5ac_1920.png" alt="Slide 3">
            <img src="https://via.placeholder.com/600x400?text=Slide%204" alt="Slide 4">
            <img src="https://via.placeholder.com/600x400?text=Slide%205" alt="Slide 5">
        </div>
    </div>
</div>