.ms {
  display: flex;
  justify-content: center;
  // margin-top: 40px;
}

.ms_outer {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: #01a3a4;
  width: 100%;
  max-width: 1440px;
  height: 720px;
}

.ms_inner {
}

.slider {
  position: relative;
  width: 1440px;
  height: 720px;
  overflow: hidden;
  @media (min-width: 1445px) {
    border-radius: 10px;
  }
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.slides {
  position: absolute;
  display: flex;
  width: calc(1280 * 5);
  left: 0;
  transition: left 0.8s ease-in-out;
}

.slides img {
  width: 1440px;
  height: 720px;
  object-fit: cover;
}

// .ms {
//   display: flex;
//   justify-content: center;
//   margin-top: 40px;
// }

// .ms_outer {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: #bbeefc;
//   width: 100%;
//   max-width: 1440px;
//   height: 500px;
// }

// .ms_inner {
// }

// .slider {
//   position: relative;
//   width: 600px;
//   height: 400px;
//   overflow: hidden;
//   border: 10px white solid;
//   border-radius: 20px;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
// }

// .slides {
//   position: absolute;
//   display: flex;
//   width: calc(600px * 5);
//   left: 0;
//   transition: left 0.8s ease-in-out;
// }

// .slides img {
//   width: 600px;
//   height: 400px;
//   object-fit: cover;
// }
