<div class="ms">
    <div class="ms_outer">
        <div class="ms_inner">
            <div class="slider">
                <div class="slides" [style.left.px]="slidePosition">
                    <img src="../../assets/img-slider/IMG_3698.jpeg" alt="Slide 1">
                    <img src="../../assets/img-slider/IMG_6444-scaled.jpg" alt="Slide 2">
                    <!-- <img src="../../assets/img-slider/IMG_3698.jpeg" alt="Slide 3"> -->
                    <img src="../../assets/img-slider/unnamed.jpg" alt="Slide 3">
                </div>
            </div>
        </div>
    </div>
</div>