<div class="ms">
    <div class="ms_outer">
        <div class="ms_inner">
            <div class="slider">
                <div class="slides" [style.left.px]="slidePosition">
                    <!-- <img src="../../assets/img-slider/20200721_185029-744x362.jpg" alt="Slide 1"> -->
                    <img src="../../assets/img-slider/IMG_3698.jpeg" alt="Slide 2">
                    <img src="../../assets/img-slider/IMG_6444-scaled.jpg" alt="Slide 3">
                    <img src="../../assets/img-slider/unnamed.jpg" alt="Slide 4">
                    <!-- <img src="https://via.placeholder.com/600x400?text=Slide%205" alt="Slide 5"> -->
                </div>
            </div>
        </div>
    </div>
</div>