.ms {
  display: flex;
  justify-content: center;
  background-color: #01a3a4;
  margin-top: 80px;
}

.ms_outer {
  width: 100%;
  max-width: 1980px;
}

.main-container {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  height: auto;
  background-color: #01a3a4;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2em;
  color: white;
}

.right-title {
  font-size: 16px;
  color: #244160;
}

.center-title {
  font-size: 16px;
}

.time {
  font-size: 14px;
}

.center-title,
.time,
.help-name {
  font-family: sans-serif;
}

.bar {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #bbeefc;
  width: auto;
}

.help-border {
  display: flex;
  justify-content: space-between;
}

.help {
  flex: 1;
  margin: 0 3px;
}

.help-name {
  // color: #244160;
  font-size: 12px;
  cursor: pointer;
}

.copy {
  font-family: Courier New, monospace;
  font-size: 12px;
}
