<div class="ms">
    <div class="ms_outer">
        <div class="ms_inner">
            <div class="main-container">
                <div class="center-container">
                    <h2 class="center-title">Godziny otwarcia przychodni</h2>
                    <h2 class="time">pon-pt: 8-18, sob. 9-15</h2>
                    <div class="help-border">
                        <div class="help">
                            <a class="help-name">Regulamin</a>
                        </div>
                        <div class="help">
                            <a class="help-name">Pomoc</a>
                        </div>
                    </div>
                    <div class="bar">
                        <span class="copy">Copyright &copy; 2023 Patryk Wronka</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>