<div class="main-container">
    <div class="left-container">
        <img class="img" src="../../assets/343958848_562057416008897_96267590959828_n.png">
    </div>
    <div class="center-container">
        <h2 class="center-title">Godziny pracy przychodni</h2>
        <h2 class="time">pon-pt 8-18</h2>
        <h2 class="cookie">Polityka cookies</h2>
    </div>
    <div class="right-container">
        <h2 class="right-title">SKONTAKTUJ SIĘ Z NAMI</h2>
        <h2 class="text1">Ul. Krasnoludek 3, xx-xxx Kraków</h2>
        <h2 class="text2">Telefon: 123 123 123</h2>
        <h2 class="text3">E-mail: recepcja@medlife.gmail.com</h2>
    </div>
</div>