.main-container {
  display: flex;
  justify-content: space-around;
  // margin-top: 60px;
  height: 80px;
  background-color: #01a3a4;
}

// .left-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2.0em;
  color: white;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2.0em;
}

// .img {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 200px;
//   height: 164px;
// }

.right-title {
  font-size: 16px;
  color: #244160;
}

.center-title {
  // margin-top: 30px;
  font-size: 16px;
  // width: 200px;
}

// .cookie {
//   margin-top: 40px;
//   font-size: 10px;
// }

.time {
  font-size: 14px;
}

.text1,.text2,.text3{
  font-size: 14px;
}

.bar {
  margin-top: 60px;
  height: 60px;
  background-color: white;
}